### <center>1. Data Importing & Preprocessing</center>

In [1]:
import pandas as pd
tweets_df = pd.read_csv('tweets-engagement-metrics.csv')
tweets_df.sample(frac=1).head(10)

,Unnamed: 0,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
10666,10666,tw-27206572,Male,800.0,Paris,Ile-de-France,FR,France,tw-707957101197455360,8,10,Thursday,True,735.0,4.0,0.0,51.0,0.0,en,RT @jeffbarr: From my colleague James Hamilton...
49522,49522,tw-14208931,Unisex,3285.0,Huddersfield,Huddersfield,GB-,United Kingdom,tw-706855027919429633,7,7,Monday,False,373.0,0.0,0.0,0.0,0.0,en,Anyone using ES6 with AWS Lambda? Any recommen...
67401,67401,tw-1085393384,Unisex,3753.0,San Francisco,California,US-CA,United States,tw-705777028365099008,8,4,Friday,True,537.0,9.0,0.0,36.0,-2.0,en,RT @jbeda: Does Docker Cloud open your VMs up ...
24775,24775,tw-892392446,Female,1496.0,Medan,North Sumatra,ID,Indonesia,tw-715774962267717632,23,31,Thursday,False,266.0,0.0,0.0,18.0,0.0,en,ASME (american standard mechanical engineering...
21173,21173,tw-710123736175783938,Unknown,1336.0,Hyderabad,Andhra Pradesh,IN,India,tw-715387113793933314,21,30,Wednesday,True,1034.0,1.0,0.0,49.0,0.0,en,RT @evidentdotio: Webcast in One Hour: CIS Fou...
52379,52379,tw-8934842,Male,3738.0,New York City,New York,US-NY,United States,tw-694222008612167681,11,1,Monday,True,165.0,1.0,0.0,21.0,0.0,en,RT @moiseyuretsky: My @Quora answer to What is...
3598,3598,tw-14085964,Unisex,112.0,Gosford,New South Wales,AU-02,Australia,tw-715287731572596737,15,30,Wednesday,False,879.0,0.0,0.0,48.0,0.0,en,New Â Change Sets for AWS CloudFormation https:...
44671,44671,tw-26516248,Female,3019.0,London,Greater London,GB-GLA,United Kingdom,tw-684312226421977088,2,5,Tuesday,False,1943.0,0.0,0.0,63.0,0.0,en,How to Run Screaming Frog and URL Profiler on ...
1119,1119,tw-3248235398,Unknown,80.0,Sydney,New South Wales,AU-02,Australia,tw-715151011724140544,6,30,Wednesday,True,172.0,2.0,0.0,44.0,1.0,en,RT @Chris_Ellis_AU: Here's why the Cloud is TH...
97684,97684,tw-1670633701,Female,4226.0,Tulsa,Oklahoma,US-OK,United States,tw-715630331559325697,14,31,Thursday,False,306.0,0.0,0.0,28.0,2.0,en,AWS Roofing Midwest is located in the East Vil...

In [2]:
# Columns of the dataset
print(tweets_df.columns.to_list())

['Unnamed: 0', 'UserID', 'Gender', 'LocationID', 'City', 'State', 'StateCode', 'Country', 'TweetID', 'Hour', 'Day', 'Weekday', 'IsReshare', 'Reach', 'RetweetCount', 'Likes', 'Klout', 'Sentiment', 'Lang', 'text']

In [3]:
# Removing the unrequired columns
tweets_df.drop(tweets_df.columns.to_list()[0], axis=1, inplace=True)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
63937,tw-6072622,Unisex,3751.0,Seattle,Washington,US-WA,United States,tw-694011112224718849,21,31,Sunday,False,340.0,0.0,0.0,43.0,-2.0,en,@pcorliss I kinda feel like all the AWS toolin...
95807,tw-3996965494,Male,4056.0,Raleigh,North Carolina,US-NC,United States,tw-684923008360812545,19,6,Wednesday,True,193.0,12.0,0.0,42.0,0.0,en,RT @awscloud: New on the @AWSIdentity Blog: Ad...
73148,tw-189173792,Male,3764.0,Portland,Oregon,US-OR,United States,tw-709818585846157312,13,15,Tuesday,False,1915.0,0.0,0.0,52.0,0.0,en,Amazon Web Services Follows Microsoft Azures F...
61810,tw-17118065,Male,3751.0,Seattle,Washington,US-WA,United States,tw-707801998616297473,22,9,Wednesday,True,7933.0,1.0,0.0,53.0,1.0,en,RT @mariuskarma: awscloud: Join #AWS at #SXSW ...
90484,tw-220804011,Male,3881.0,Fountain Hills,Arizona,US-AZ,United States,tw-697117955407142912,11,9,Tuesday,False,246.0,0.0,0.0,45.0,2.0,en,#AWS guarantees capacity not performance. From...
20157,tw-384733692,Male,1333.0,Chennai,Tamil Nadu,IN,India,tw-683234680225710082,3,2,Saturday,True,139.0,6.0,0.0,24.0,0.0,en,RT @marklit82: #Hadoop up and running w/ #Ubun...
101257,tw-4639762396,Unisex,5821.0,Blue Earth,Minnesota,US-MN,United States,tw-684340662242787328,4,5,Tuesday,True,1631.0,17.0,0.0,39.0,1.0,en,RT @PhilipsLiveFrom: We're expanding our digit...
18632,tw-3062567077,Unknown,1331.0,Gurgaon,Haryana,IN,India,tw-699849515784777728,23,16,Tuesday,False,37.0,0.0,0.0,38.0,0.0,en,Why is Amazon Web Services (AWS) Dominating Cl...
22870,tw-94780069,Male,1339.0,Indore,Madhya Pradesh,IN,India,tw-693704513572642816,0,31,Sunday,True,62.0,22.0,0.0,30.0,-1.0,en,RT @ForbesTech: Oracle is mounting a major cha...
78663,tw-191203835,Male,3785.0,Boise,Idaho,US-ID,United States,tw-697098104001032192,9,9,Tuesday,False,2586.0,0.0,0.0,50.0,0.0,en,The Emerging #PrivateCloud Delivery Model for ...

In [4]:
# Checking the null values
tweets_df.isnull().sum()

UserID             0
Gender             0
LocationID         0
City            2279
State           1897
StateCode       1726
Country            0
TweetID            0
Hour               0
Day                0
Weekday            0
IsReshare          0
Reach              0
RetweetCount       0
Likes              0
Klout              0
Sentiment          0
Lang               0
text               0
dtype: int64

In [5]:
# Filling the null values in the dataframe
tweets_df.fillna('NA', axis = 1, inplace = True)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
72055,tw-15812482,Unknown,3762.0,Westminster,Colorado,US-CO,United States,tw-705147329213403137,14,2,Wednesday,True,18320.0,1.0,0.0,62.0,0.0,en,"""RT @floridarussian: Hiring: Â #DevOps Support ..."
28375,tw-3600741,Male,1788.0,Tokyo,Tokyo,JP,Japan,tw-697248234901626881,19,9,Tuesday,False,761.0,0.0,0.0,51.0,0.16,ja,@junkimu Â AWS
29029,tw-41186289,Male,1850.0,NA,NA,NA,Latvia,tw-689837536743661568,8,20,Wednesday,False,101.0,0.0,0.0,25.0,-2.0,en,@awscloud something is wrong with aws ami nami...
25254,tw-63686167,Female,1601.0,Dublin,Leinster,IE,Ireland,tw-702739831558959104,23,24,Wednesday,False,534.0,0.0,0.0,39.0,0.0,en,We are hiring: Network Technician Network Tech...
30834,tw-107356259,Female,2086.0,Baarn,Utrecht,NL,Netherlands,tw-714373413326954496,2,28,Monday,False,1456.0,1.0,0.0,53.0,3.0,en,Reading #Cloud usage: Microsoft #Azure the mos...
90097,tw-70752583,Unknown,3874.0,San Jose,California,US-CA,United States,tw-709823708861304832,13,15,Tuesday,True,221.0,26.0,0.0,48.0,0.0,en,"""RT @stratechery: The Amazon Taxhttps://strate..."
85958,tw-2900427576,Unknown,3845.0,Salt Lake City,Utah,US-UT,United States,tw-692173333073391617,19,26,Tuesday,False,109.0,0.0,0.0,43.0,1.0,en,Optimize AWS CloudFormation Templates: The fol...
84456,tw-880915520,Male,3825.0,Toronto,Ohio,US-OH,United States,tw-716237348724477952,6,2,Saturday,True,121.0,3.0,0.0,40.0,1.0,en,RT @linuxjournal: AWS EC2 VPC CLI - There's ju...
46869,tw-936925010,Male,3037.0,Cambridge,Cambridgeshire,GB-C3,United Kingdom,tw-712001822169415681,13,21,Monday,False,412.0,1.0,0.0,45.0,0.0,en,@theburningmonk talking #AWS with #fsharp http...
49325,tw-964214618,Unknown,3198.0,Norwich,Norfolk,GB-I9,United Kingdom,tw-707910743723806721,5,10,Thursday,True,876.0,2.0,0.0,47.0,0.0,en,RT @NorfolkDev: .@IanMmmm returns in April to ...

In [6]:
# Checking the duplicated values in the dataframe
tweets_df.nunique()

UserID          33212
Gender              4
LocationID       4309
City             3802
State            1009
StateCode         358
Country           151
TweetID         99999
Hour               24
Day                31
Weekday             7
IsReshare           2
Reach           12473
RetweetCount      478
Likes              87
Klout              84
Sentiment         309
Lang               36
text            70267
dtype: int64

In [7]:
# Datatypes of the columns in the dataframe
tweets_df.dtypes

UserID          object
Gender          object
LocationID      object
City            object
State           object
StateCode       object
Country         object
TweetID         object
Hour            object
Day             object
Weekday         object
IsReshare       object
Reach           object
RetweetCount    object
Likes           object
Klout           object
Sentiment       object
Lang            object
text            object
dtype: object

In [8]:
# Changing the datatypes of the columns in the dataframe
tweets_df[['LocationID', 'Reach', 'RetweetCount', 'Likes', 'Klout']] = tweets_df[['LocationID', 'Reach', 'RetweetCount', 'Likes', 'Klout']].astype(int)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
45943,tw-257921195,Female,3030,NA,NA,GB-,United Kingdom,tw-704267610163179520,4,29,Monday,False,396,1,0,39,0.5,en,SLD victory on AWS achieved by denying women a...
32874,tw-4681843878,Female,2313,Makati City,National Capital Region,PH,Philippines,tw-690940056115122176,9,23,Saturday,True,45,3,0,40,3.0,en,RT @rozenaidanramir: aws nkkantok ang wine..bu...
89625,tw-4624511234,Unisex,3874,San Jose,California,US-CA,United States,tw-688548636716851201,19,16,Saturday,False,280,0,0,49,0.0,en,Air Warfare Systems Engineer Aws Jobs in San J...
93842,tw-5743852,Male,3960,Buffalo,New York,US-NY,United States,tw-697083315812061184,8,9,Tuesday,False,8351,4,0,56,3.0,en,wow AWS is getting into game development. Nice...
99882,tw-39422164,Male,4716,Dracut,Massachusetts,US-MA,United States,tw-707592303632912384,8,9,Wednesday,True,689,9,0,51,0.0,en,RT @haroldlgardner: #TechCompanies New and Old...
24560,tw-3327236569,Unknown,1490,Tasikmalaya,West Java,ID,Indonesia,tw-686527598680129536,5,11,Monday,False,65,0,0,36,0.0,en,Climbing the hybrid cloud on-ramp: When I ment...
93966,tw-14186870,Male,3967,Olathe,Kansas,US-KS,United States,tw-695243183379206145,6,4,Thursday,False,1498,0,0,50,0.0,en,Latest cloud infrastructure research shows yet...
78710,tw-37778253,Male,3785,Boise,Idaho,US-ID,United States,tw-709765940515360768,9,15,Tuesday,False,2257,0,0,54,0.0,en,"""In which I explain how to use serverless #AWS..."
61262,tw-467721367,Female,3751,Seattle,Washington,US-WA,United States,tw-687886282551246848,23,14,Thursday,True,348,20,0,15,1.0,en,RT @awscloud: Curious about using the AWS #Gov...
100234,tw-615411859,Male,4895,Deer Park,Texas,US-TX,United States,tw-701739754652639232,5,22,Monday,True,43,46,0,27,0.0,en,RT @craigbrownphd: Ericsson working with AWS t...

In [9]:
# Classifying the sentiment as per the values in the dataframe.
classifySentiment = lambda x: 'Neutral' if x == 0 else ('Positive' if x > 0 else 'Negative')
tweets_df['SentimentText'] = tweets_df['Sentiment'].apply(classifySentiment)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,SentimentText
40512,tw-364204462,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-687048188847636480,16,12,Tuesday,False,4456,0,0,64,0.0,en,Hackster AWS IoT Mega Contest https://aws.amaz...,Neutral
35555,tw-14390964,Male,2650,Madrid,Madrid,ES,Spain,tw-689186174309629953,13,18,Monday,False,1353,3,0,43,0.0,en,AWS S3 vs Google Cloud vs Azure http://blog.za...,Neutral
539,tw-3138785969,Female,30,Merlo,San Luis,AR,Argentina,tw-683522798732599297,22,2,Saturday,True,2164,1,0,50,0.0,_u,RT @alwayswithmati_: @AlwaystutEMIca aws,Neutral
31208,tw-232327308,Male,2180,Auckland,Auckland,NZ,New Zealand,tw-690275841108905985,13,21,Thursday,False,97,0,0,30,0.0,en,@bgracely How do you even do that? You'd have ...,Neutral
7416,tw-3316009302,Male,611,Beijing,Beijing,CN,China,tw-689305857549533184,21,18,Monday,True,341,15,0,43,0.0,en,RT @awscloud: Get an overview of different #Bi...,Neutral
58148,tw-289094642,Female,3751,Seattle,Washington,US-WA,United States,tw-683835253169983488,19,3,Sunday,False,70,0,0,28,1.0,en,Join the team! Dev Ops Manager - AWS S3 Webser...,Positive
27300,tw-15754217,Unknown,1689,Padova,Veneto,IT,Italy,tw-692748516762992640,9,28,Thursday,False,650,0,0,49,0.0,en,Computing &amp; OS Top stories Oracle Mounts C...,Neutral
5406,tw-4167147797,Unknown,292,Rio de Janeiro,Rio de Janeiro,BR,Brazil,tw-715227720985231361,11,30,Wednesday,False,128,0,0,35,0.0,pt,@ahasabixa MEU SONHO AWS,Neutral
21973,tw-143161620,Male,1338,Pune,Maharashtra,IN,India,tw-687476930250207233,20,13,Wednesday,False,326,1,0,43,0.0,en,"""how to decide When to use #aws #dynamodbhttp:...",Neutral
707,tw-7467272,Unknown,78,Brisbane,Queensland,AU-04,Australia,tw-700589863087636480,0,19,Friday,True,329,59,0,32,0.0,en,"""RT @liamosaur: Microsofts AWS to Azure migrat...",Neutral

In [10]:
# Checking the unique languages
print(list(tweets_df['Lang'].unique()))

['en', 'es', '_u', 'pt', 'in', 'it', 'fr', 'ro', 'da', 'zh', 'ko', 'tl', 'de', 'ja', 'ru', 'nl', 'hu', 'cy', 'km', 'ar', 'cs', 'ht', 'fi', 'et', 'no', 'pl', 'eu', 'lv', 'sv', 'tr', 'hi', 'iw', 'lt', 'sl', 'uk', 'th']

In [11]:
# Getting the respective languages as per the 'Lang' codes in the dataframe
lang_codes = {'en': 'English', 'es': 'Spanish', '_u': 'Undetermined', 'pt': 'Portuguese', 'in': 'Indonesian', 'it': 'Italian', 'fr': 'French', 'ro': 'Romanian', 'da': 'Danish', 'zh': 'Chinese', 'ko': 'Korean', 'tl': 'Tagalog', 'de': 'German', 'ja': 'Japanese', 'ru': 'Russian', 'nl': 'Dutch', 'hu': 'Hungarian', 'cy': 'Welsh', 'km': 'Khmer', 'ar': 'Arabic', 'cs': 'Czech', 'ht': 'Haitian Creole', 'fi': 'Finnish', 'et': 'Estonian', 'no': 'Norwegian', 'pl': 'Polish', 'eu': 'Basque', 'lv': 'Latvian', 'sv': 'Swedish', 'tr': 'Turkish', 'hi': 'Hindi', 'iw': 'Hebrew', 'lt': 'Lithuanian', 'sl': 'Slovenian', 'uk': 'Ukrainian', 'th': 'Thai'}
tweets_df['Language'] = tweets_df['Lang'].map(lang_codes)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,...,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,SentimentText,Language
15223,tw-586887461,Unknown,1075,Duisburg,North Rhine-Westphalia,DE,Germany,tw-692466412451938313,14,27,...,False,1820,0,0,55,0.0,en,awscloud: Now trigger #AWS Lambda functions in...,Neutral,English
13659,tw-31130922,Male,1065,Munich,Bavaria,DE,Germany,tw-715526362447147008,7,31,...,False,86,0,0,22,0.0,de,"""AWS Summits 2016 | Berlin | Registration - Â h...",Neutral,German
57198,tw-270091516,Female,3750,Milwaukee,Wisconsin,US-WI,United States,tw-710599271800766465,16,17,...,False,457,0,0,35,0.0,en,Job Opportunity - Â AWS Operations Engineer in ...,Neutral,English
61802,tw-17118065,Male,3751,Seattle,Washington,US-WA,United States,tw-706879911030444032,9,7,...,True,7927,1,0,53,0.0,en,RT @scriptingxss: Best Practices for #IoT #Sec...,Neutral,English
7594,tw-3316009302,Male,611,Beijing,Beijing,CN,China,tw-698305093700030465,17,12,...,True,362,16,0,43,0.0,en,RT @awscloud: Take part in our upcoming #AWSwe...,Neutral,English
70970,tw-12946282,Male,3758,Philadelphia,Pennsylvania,US-PA,United States,tw-702999542325776384,16,25,...,True,763,8,0,42,1.0,en,RT @awscloud: Now in RDS encrypt copies of DB ...,Positive,English
992,tw-91933935,Female,80,Sydney,New South Wales,AU-02,Australia,tw-705919284640407552,17,4,...,False,23,0,0,14,0.0,en,AWS - What's New! AWS Schema Conversion Tool F...,Neutral,English
18396,tw-589081264,Male,1329,Bangalore,Karnataka,IN,India,tw-710496286227746816,10,17,...,True,292,1,0,27,2.0,en,"""RT @LincolnLoop: AWS DB Migration: 3 yr old m...",Positive,English
37516,tw-73855424,Male,2844,Stockholm,Stockholm,SE,Sweden,tw-703522307680178176,3,27,...,True,53,52,0,0,2.0,en,RT @awscloud: AWS CloudFormation now supports ...,Positive,English
32310,tw-2475286316,Male,2299,Espaa,Mimaropa,PH,Philippines,tw-697555468093358081,15,10,...,False,488,0,0,47,0.0,en,When the zombies rise Amazon Web Services will...,Neutral,English

In [12]:
# Removing the 'Lang' & 'Sentiment' columns
tweets_df.drop(['Lang', 'Sentiment'], axis=1, inplace=True)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,text,SentimentText,Language
19887,tw-4743075270,Unknown,1333,Chennai,Tamil Nadu,IN,India,tw-698158568688648193,7,12,Friday,False,23,2,0,13,@8KMilesChat Encrypt AWS CloudTrail logs using...,Neutral,English
43167,tw-1102149194,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-712421359331237888,17,22,Tuesday,False,705,0,0,49,AWS Cryptography announces AWS Encryption SDK ...,Neutral,English
80522,tw-26191233,Unknown,3793,San Antonio,Texas,US-TX,United States,tw-690204172847738881,9,21,Thursday,False,100500,13,0,65,""".@Showpitch found that Rackspace's Fanatical ...",Positive,English
41908,tw-52500519,Unknown,3019,London,Greater London,GB-GLA,United Kingdom,tw-698567395456262150,11,13,Saturday,True,4673,15,0,60,RT @awscloud: Ready to build secure AWS #IoT a...,Positive,English
21072,tw-43294568,Female,1336,Hyderabad,Andhra Pradesh,IN,India,tw-692619692796682240,1,28,Thursday,False,376,0,0,43,AWS Official Blog https://aws.amazon.com/blogs...,Neutral,English
89727,tw-21985616,Male,3874,San Jose,California,US-CA,United States,tw-688030058330648577,9,15,Friday,True,131,1,0,45,RT @SumoLogic: Moving critical biz apps to #AW...,Positive,English
100854,tw-132320771,Male,5394,Doral,Florida,US-FL,United States,tw-710493798120316928,9,17,Thursday,True,283,5,0,29,RT @DariusHeydarian: David Leadbetter Golf is ...,Positive,English
47541,tw-1722831672,Unknown,3060,Fareham,Hampshire,GB-F2,United Kingdom,tw-710539725631787008,12,17,Thursday,False,630,0,0,53,"""Want to learn more about the CIS #AWS Foundat...",Positive,English
57611,tw-40932430,Female,3751,Seattle,Washington,US-WA,United States,tw-695195133625638913,3,4,Thursday,False,51,0,0,40,We are hiring: Senior Software Engineer - Prot...,Neutral,English
21570,tw-2541090493,Female,1337,Noida,Uttar Pradesh,IN,India,tw-697336218627895296,1,10,Wednesday,True,3298,4,0,44,RT @PoojaBrs: Environment Monitor With AWS IoT...,Neutral,English

In [13]:
# Moving the text column to the right place
tweets_df = tweets_df[[col for col in tweets_df.columns if col != 'text'] + ['text']]
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,SentimentText,Language,text
32190,tw-271736848,Unknown,2276,San Juan,Loreto Region,PE,Peru,tw-708404568909025281,14,11,Friday,True,187,82,0,42,Neutral,English,RT @Werner: 10 Lessons from 10 Years of Amazon...
38735,tw-2903118737,Unknown,2963,stanbul,Istanbul,TR,Turkey,tw-702904930835767296,10,25,Thursday,False,42012,0,0,49,Neutral,Turkish,Zombiler uyandnda Amazon Web Services hazr ola...
14073,tw-4018833808,Unknown,1067,NA,NA,NA,Germany,tw-702445607613501441,3,24,Wednesday,False,80,0,0,25,Neutral,English,"""CloudBees Releases Jenkins-based Platform For..."
93673,tw-3884729112,Male,3954,Santa Monica,California,US-CA,United States,tw-690000173196578818,19,20,Wednesday,True,1034,1,0,47,Neutral,English,RT @IotDesperados: Amazon's Latest #IoT Play I...
79412,tw-87233735,Female,3786,Los Angeles,California,US-CA,United States,tw-697102719740305408,10,9,Tuesday,True,481,73,0,0,Neutral,English,RT @hmltn: .@JeffBezos is 10x cooler today. Fr...
30094,tw-1119467184,Unknown,2055,Amsterdam,North Holland,NL,Netherlands,tw-716023883980267521,16,1,Friday,False,319,0,0,43,Neutral,English,Scaling Microservices at Gilt with Scala Docke...
26627,tw-578074751,Male,1646,Ramat Gan,Tel Aviv,IL,Israel,tw-712363286486863872,13,22,Tuesday,False,107,0,0,37,Neutral,English,10 years of #Cloud Computing with #AWS http://...
75939,tw-3106496661,Unisex,3773,New Orleans,Louisiana,US-LA,United States,tw-686987768807952385,12,12,Tuesday,False,732,0,0,45,Positive,English,This beginner's guide to web #app scaling on #...
45526,tw-17677344,Male,3025,Edinburgh,City of Edinburgh,GB-U8,United Kingdom,tw-710412098849939456,4,17,Thursday,True,165,3,0,38,Positive,English,RT @AWS_UKI: Stop two on this week's #AWS #Sec...
55172,tw-2557634838,Male,3741,Austin,Texas,US-TX,United States,tw-711573622356353024,9,20,Sunday,False,12,0,0,15,Positive,English,Apple has moved a significant amount of its cl...

In [14]:
# Renaming the 'SentimentText' column to 'Sentiment' and 'Language' to 'Lang'
col_dict = {'IsReshare':'IsReshared', 'SentimentText': 'Sentiment', 'Language': 'Lang', 'text': 'Text'}
tweets_df = tweets_df.rename(columns=col_dict)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text
76810,tw-4603902444,Unknown,3776,Chicago,Illinois,US-IL,United States,tw-684585570962649088,21,5,Tuesday,False,242,0,0,49,Neutral,English,Aws Elastic Transcoder Jobs in Chicago IL #Chi...
63387,tw-15092791,Unknown,3751,Seattle,Washington,US-WA,United States,tw-684439055615000576,11,5,Tuesday,False,145,0,0,42,Positive,English,@brandur @aerobaticapp is a static hosting ser...
87012,tw-52391967,Male,3849,Hartford,Connecticut,US-CT,United States,tw-715194443629006848,9,30,Wednesday,False,15461,0,0,54,Negative,English,#Microservices - Myths and Misunderstanding ht...
3128,tw-188707660,Male,82,Perth,Western Australia,AU-08,Australia,tw-710330120204988416,23,16,Wednesday,True,876,29,0,47,Positive,English,RT @nocompunction: CRN Exclusive: Alphabet's G...
72889,tw-127487355,Male,3764,Portland,Oregon,US-OR,United States,tw-697971679641911296,19,11,Thursday,False,6843,0,0,46,Positive,English,Top story: Congratulations to the Winners of t...
35348,tw-4894773442,Unknown,2650,Madrid,Madrid,ES,Spain,tw-698478841891790848,5,13,Saturday,False,110,0,0,46,Neutral,English,RT http://twitter.com/Amimoto_Ami/status/69847...
13195,tw-100472395,Male,1044,Montesson,Ile-de-France,FR,France,tw-712712023348494337,12,23,Wednesday,True,15,5,0,17,Positive,English,RT @ansible: Using Ansible to automate your ap...
83688,tw-3134615187,Unknown,3820,Miami,Florida,US-FL,United States,tw-709459298485673984,13,14,Monday,False,2434,0,0,44,Positive,English,Want to make your life easier? Move your data ...
11076,tw-12073732,Male,800,Paris,Ile-de-France,FR,France,tw-713086009240600576,13,24,Thursday,True,4676,1,0,55,Positive,French,"""RT @Louisnaug: Vous souhaitez suivre en // pe..."
23833,tw-165466664,Female,1374,Badlapur,Maharashtra,IN,India,tw-710524870518394880,11,17,Thursday,False,31,0,0,24,Neutral,English,AWS at 10: How the cloud giant shook up enterp...

In [15]:
# Saving the preprocessed & cleaned tweets dataframe to a .csv file
tweets_df.to_csv('tweetsCleanedMetrics.csv', index=False)

### <center>2. Data Querying</center>

In [16]:
# Q-1. Retrieve the total number of tweets in the dataset.
print(f"The no. of tweets in the dataset = {len(tweets_df)}.")

The no. of tweets in the dataset = 102062.

In [17]:
# Q-2. Find the number of distinct users (UserID) in the dataset.
print(f"The number of distinct users in the dataset = {tweets_df['UserID'].nunique()}.")

The number of distinct users in the dataset = 33212.

In [18]:
# Q-3. Calculate the average number of likes per tweet.
print(f"The average number of likes per tweet = {round(tweets_df['Likes'].mean(), 3)}.")

The average number of likes per tweet = 0.15.

In [19]:
# Q-4. Identify tweets where the sentiment is 'Positive.' Display the TweetID and sentiment.
positive_tweets_df = tweets_df[tweets_df['Sentiment'] == 'Positive'][['TweetID', 'Sentiment']]
positive_tweets_df

                      TweetID Sentiment
6       tw-714806305106604032  Positive
16      tw-705439172962742273  Positive
17      tw-685663098636791808  Positive
19      tw-699705067834834944  Positive
28      tw-710593048158281729  Positive
...                       ...       ...
102053  tw-683751716353912833  Positive
102054  tw-702581824921477120  Positive
102056  tw-693440798403268613  Positive
102057  tw-696378029526933504  Positive
102059  tw-709632884269785088  Positive

[27628 rows x 2 columns]

In [20]:
# Q-5. Count the number of tweets where IsReshare is true (1).
print(f"The number of tweets being reshared = {len(tweets_df[tweets_df['IsReshared'] == 1])}.")

The number of tweets being reshared = 36210.

In [21]:
# Q-6. List the top 5 users with the highest Reach. Display their UserID and Reach.
top_users_reach = tweets_df.nlargest(5, 'Reach')[['UserID', 'Reach']]
top_users_reach

            UserID     Reach
53032   tw-3108351  10342452
53079  tw-91478624   8196371
67044    tw-816653   6485485
67043    tw-816653   6482073
67042    tw-816653   6425442

In [22]:
# Q-7. Find the most common language (Lang) used in tweets.
print(f"The most common language used in tweets = {tweets_df['Lang'].mode()[0]}.")

The most common language used in tweets = English.

In [23]:
# Q-8. Determine the average Klout score for male (Gender = 'Male') users.
print(f"The average Klout score for male users = {round(tweets_df[tweets_df['Gender'] == 'Male']['Klout'].mean(), 3)}.")

The average Klout score for male users = 39.606.

In [24]:
# Q-9. Retrieve tweets posted on weekdays (Monday to Friday).
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday_tweets = tweets_df[tweets_df['Weekday'].isin(weekdays)]
weekday_tweets.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text
7161,tw-119918215,Male,585,Santiago,Santiago,CL,Chile,tw-708486950559358982,19,11,Friday,False,361,0,0,29,Positive,Spanish,@WOMteAyuda ayudenme con el modelo XT1040 es c...
10819,tw-35732306,Male,800,Paris,Ile-de-France,FR,France,tw-696763524115263488,11,8,Monday,True,244,2,0,32,Neutral,French,RT @julsimon: .@aws_actus Â Meetups #AWS : Pari...
47850,tw-15036950,Male,3069,Glasgow,Glasgow City,GB-V2,United Kingdom,tw-705542885366607872,16,3,Thursday,False,4933,0,0,47,Negative,English,@ryansroberts wouldn't even matter this is an ...
50682,tw-4202013106,Unknown,3738,New York City,New York,US-NY,United States,tw-696885775493959680,19,8,Monday,False,142,0,0,46,Neutral,English,Automation Engineer (DevOps) - AWS at REN Clou...
101719,tw-2309264996,Unknown,6240,Barquisimeto,Estado Lara,VE,Venezuela,tw-715995665797685251,14,1,Friday,False,952,0,0,44,Positive,Spanish,#Ticbeat El 94% del trfico de Tor es malicioso...
11390,tw-53385073,Unknown,800,Paris,Ile-de-France,FR,France,tw-702268220519088128,16,23,Tuesday,False,1731,0,0,49,Positive,French,Capgemini renforce son partenariat avec Amazon...
61380,tw-778322557,Male,3751,Seattle,Washington,US-WA,United States,tw-709543301209202691,18,14,Monday,False,182,5,0,41,Neutral,English,AWS Lambda comes Â to Frankfurt ! Where to next...
38773,tw-3446771716,Female,2963,stanbul,Istanbul,TR,Turkey,tw-702163684056023041,9,23,Tuesday,False,39475,0,0,49,Neutral,Turkish,Zombiler uyandnda Amazon Web Services hazr ola...
23523,tw-118645692,Male,1347,Nagpur,Maharashtra,IN,India,tw-704756237645307905,12,1,Tuesday,True,68,10,0,26,Positive,English,RT @awscloud: You can become #AWSCertified! Ou...
1361,tw-2881784192,Male,80,Sydney,New South Wales,AU-02,Australia,tw-715315523022553088,17,30,Wednesday,True,41,7,0,28,Positive,English,RT @awscloud: We've added more checks to AWS T...

In [25]:
# Q-10. Identify tweets with a Klout score greater than 50. Display the TweetID and Klout.
kloutScore50 = tweets_df[tweets_df['Klout'] > 50][['TweetID', 'Klout']]
kloutScore50.sample(frac=1).head(10)

                     TweetID  Klout
77157  tw-695591947805814784     57
2018   tw-704033311836901376     52
22169  tw-699946192772472832     58
37800  tw-710040897107447809     54
15580  tw-707314227242004482     56
9405   tw-690451518860955648     56
14019  tw-698455517371482117     62
8224   tw-702347196780314624     53
55673  tw-694510456757698564     51
39320  tw-701117187570978816     51

In [26]:
# Q-11. Count the number of tweets posted from the United States (Country = 'United States').
print(f"The no. of tweets from the United States = {len(tweets_df[tweets_df['Country'] == 'United States'])}.")

The no. of tweets from the United States = 51457.

In [27]:
# Q-12. List tweets with the highest number of retweets. Display the TweetID and RetweetCount.
retweet_count = tweets_df.nlargest(1, 'RetweetCount')[['TweetID', 'RetweetCount']]
print(f"The tweet ID {retweet_count['TweetID'].iloc[0]} has the highest number of retweets ({retweet_count['RetweetCount'].iloc[0]}).")

The tweet ID tw-700865627364392960 has the highest number of retweets (26127).

In [28]:
# Q-13. Find tweets with sentiment 'Negative' and Klout score less than 40.
negative_tweets_df = tweets_df[(tweets_df['Sentiment'] == 'Negative') & (tweets_df['Klout'] < 40)]
negative_tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text
17454,tw-56592489,Male,1329,Bangalore,Karnataka,IN,India,tw-702677092522065920,19,24,Wednesday,True,74,29,0,25,Negative,English,RT @awscloud: New on @AWSIdentity blog: How to...
13872,tw-14292693,Male,1066,Stuttgart,Baden-Wuerttemberg Region,DE,Germany,tw-702391937874206720,0,24,Wednesday,False,90,0,0,32,Negative,German,Cloud-Giganten: Amazon Web Services - viel Clo...
22552,tw-4271629342,Female,1338,Pune,Maharashtra,IN,India,tw-711060490466631680,23,18,Friday,True,69,2,0,22,Negative,English,RT @cloudITbetter: @SocialHelpouts used #AWS t...
101981,tw-701947241028841472,Unisex,6276,NA,NA,NA,Viet Nam,tw-709574247484502016,20,14,Monday,False,66,0,0,24,Negative,English,My brother has turned my painting into one mes...
47156,tw-104924216,Unknown,3044,East Kilbride,South Lanarkshire,GB-W5,United Kingdom,tw-690459338532601857,2,22,Friday,False,250,0,0,30,Negative,English,Microsoft slashes Azure prices up to 17% to ke...
19577,tw-2644911842,Male,1332,Mumbai,Maharashtra,IN,India,tw-697550664088440832,15,10,Wednesday,False,22,0,0,22,Negative,English,"""When the zombies rise Amazon Web Services wil..."
79451,tw-296948529,Male,3786,Los Angeles,California,US-CA,United States,tw-686573402170118146,8,11,Monday,False,1783,0,0,34,Negative,English,zdnews_ What Google says to AWS price cuts: Ou...
633,tw-1366914511,Male,78,Brisbane,Queensland,AU-04,Australia,tw-683026257215262720,13,1,Friday,True,89,1,0,35,Negative,English,RT @swardley: ... 3/ Demand an Open Standard w...
100817,tw-17846145,Unknown,5297,Reading,Massachusetts,US-MA,United States,tw-686352834753904640,18,10,Sunday,False,31,0,0,19,Negative,English,Learning asynchronous functional programming i...
42855,tw-14367689,Female,3019,London,Greater London,GB-GLA,United Kingdom,tw-701914311288078339,16,22,Monday,False,1023,0,0,0,Negative,English,@dylanbeattie accidentally leave an instance r...

In [29]:
# Q-14. Calculate the average Likes for tweets posted on weekends (Saturday and Sunday).
print(f"The average likes for tweets posted on weekends = {round(tweets_df[tweets_df['Weekday'].isin(['Saturday', 'Sunday'])]['Likes'].mean(), 3)}.")

The average likes for tweets posted on weekends = 0.114.

In [30]:
# Q-15. Retrieve tweets posted in the city of 'New York.'
new_york_tweets = tweets_df[tweets_df['City'].str.contains('New York')]
new_york_tweets.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text
51811,tw-110249178,Male,3738,New York City,New York,US-NY,United States,tw-712082194395574273,19,21,Monday,False,27336,2,0,53,Positive,English,. @DevOpsNatacha start a #devops consulting bu...
53057,tw-168961177,Male,3738,New York City,New York,US-NY,United States,tw-712354842459693056,13,22,Tuesday,True,353,1,0,37,Neutral,English,RT @Joshmedia: Holy moly @aws is truly eating ...
52896,tw-20549262,Unisex,3738,New York City,New York,US-NY,United States,tw-715539223701381120,8,31,Thursday,False,226,1,0,38,Neutral,English,.@Slalom's @SteveCarter kicking off day one of...
51560,tw-2593655556,Unknown,3738,New York City,New York,US-NY,United States,tw-695229896440856576,5,4,Thursday,False,301,1,0,49,Neutral,English,Sip on these updates involving #OwnBackup #Clo...
53042,tw-106792325,Unisex,3738,New York City,New York,US-NY,United States,tw-709783703757705217,10,15,Tuesday,True,1272,414,0,51,Positive,English,RT @konklone: Amazon now offering free HTTPS c...
52988,tw-2499433848,Unknown,3738,New York City,New York,US-NY,United States,tw-697280847662157824,21,9,Tuesday,True,76,23,0,18,Neutral,English,"""RT @jimhejl: So I just found this deep in the..."
51127,tw-12329592,Male,3738,New York City,New York,US-NY,United States,tw-706904695135141888,11,7,Monday,False,1311,0,0,60,Neutral,English,Starting today new #AWS accounts get longer #E...
51039,tw-12329592,Male,3738,New York City,New York,US-NY,United States,tw-701928852646449152,17,22,Monday,False,1311,0,0,62,Positive,English,.AWSforMobile SDK for Android now supports AWS...
50810,tw-12329592,Male,3738,New York City,New York,US-NY,United States,tw-688073845572513793,12,15,Friday,False,1268,0,0,59,Positive,English,Don't miss the newest #AWS Partner Success sto...
51893,tw-778911074,Unknown,3738,New York City,New York,US-NY,United States,tw-698173988216954880,8,12,Friday,True,137,23,0,28,Positive,English,RT @jeffbarr: Amazon Web Services to Acquire N...

In [31]:
# Q-16. Identify tweets where Reach is greater than 1000. Display the TweetID and Reach.
thousand_reach = tweets_df[tweets_df['Reach'] > 1000][['TweetID', 'Reach']]
thousand_reach.sample(frac=1).head(10)

                      TweetID  Reach
98044   tw-701742788426260482  10738
50453   tw-712682934428274688   8603
72634   tw-715222169177964546   5013
82161   tw-691955260907241472  47926
10916   tw-709427701560512512   3282
101308  tw-702484588652851201   1228
51139   tw-707311484200689664   1309
79687   tw-687318629549879296   7146
41843   tw-689358424690315265   2339
36334   tw-705303080133390338   3249

In [32]:
# Q-17. Find the user (UserID) with the highest total engagement (sum of RetweetCount and Likes).
tweets_df['TotalEngagement'] = tweets_df['RetweetCount'] + tweets_df['Likes']
print(f"The UserID {tweets_df['UserID'].iloc[tweets_df['TotalEngagement'].idxmax()]} has the highest engagement ({tweets_df['TotalEngagement'].max()}).")

The UserID tw-552279964 has the highest engagement (26127).

In [33]:
# Q-18. List tweets with sentiment 'Neutral' and Lang as 'English.'
engNeutralTweets = tweets_df[(tweets_df['Sentiment'] == 'Neutral') & (tweets_df['Lang'] == 'English')]
engNeutralTweets.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text,TotalEngagement
101304,tw-75382079,Unisex,5857,Cos Cob,Connecticut,US-CT,United States,tw-697110645343387648,10,9,Tuesday,True,2815,124,0,63,Neutral,English,RT @hmltn: .@JeffBezos is 10x cooler today. Fr...,124
75734,tw-32379029,Unisex,3769,Berkeley,California,US-CA,United States,tw-709450536508985344,12,14,Monday,True,151,2,0,43,Neutral,English,RT @dreeves1: Original AWS press release from ...,2
90232,tw-40205361,Male,3874,San Jose,California,US-CA,United States,tw-683764771703791616,14,3,Sunday,True,281,26,0,32,Neutral,English,RT @awscloud: Copy AMIs from another AWS accou...,26
18914,tw-95201845,Male,1332,Mumbai,Maharashtra,IN,India,tw-692068044726644737,12,26,Tuesday,False,1551,0,0,44,Neutral,English,@awscloud India region will be based out of wh...,0
70226,tw-34739864,Unknown,3755,Charlotte,North Carolina,US-NC,United States,tw-690567337112662016,9,22,Friday,False,677,0,0,47,Neutral,English,"""MapR Announces Free Test Drives on Amazon Web...",0
22500,tw-14250770,Male,1338,Pune,Maharashtra,IN,India,tw-700727384287219712,10,19,Friday,False,220,0,0,24,Neutral,English,http://IndianGNU.org Launching AWS instance us...,0
77816,tw-2210171274,Male,3776,Chicago,Illinois,US-IL,United States,tw-712175959026360320,1,22,Tuesday,False,240,0,0,41,Neutral,English,#360WiseNews : Ten Years Later Amazon Web Serv...,0
9032,tw-1264442737,Male,761,Helsinki,Southern Finland Province,FI,Finland,tw-695252189426638848,7,4,Thursday,False,155,0,0,34,Neutral,English,Azure vs AWS vs Rackspace vs Google: Which Clo...,0
55664,tw-4624262892,Unisex,3744,San Diego,California,US-CA,United States,tw-682842811985739776,1,1,Friday,False,211,0,0,47,Neutral,English,1015 Devops Engineer With Aws Chef 2 Jobs in S...,0
65868,tw-3304909880,Unknown,3753,San Francisco,California,US-CA,United States,tw-684092294576750592,12,4,Monday,True,1823,1,0,51,Neutral,English,RT @Just_inTech: We are hiring: Software Engin...,1

In [34]:
# Q-19. Calculate the total engagement (sum of RetweetCount and Likes) for each tweet.
tweets_df['TotalEngagement'] = tweets_df['RetweetCount'] + tweets_df['Likes']
tweets_df[['TweetID', 'Text', 'TotalEngagement']].sample(frac=1).head(10)

,TweetID,Text,TotalEngagement
41333,tw-709316072516800512,New #job: Lead DevOps Engineer @ RED ANT - bui...,0
32807,tw-690430707672444928,@awscloud providing free SSL for your apps. Th...,0
11485,tw-710497741244215296,Le plan Cloud hybride d'Apple : Google AWS et ...,0
35920,tw-704329700919873536,RT @Expansion_ED: BBVA quiere replicar el mode...,17
22170,tw-700040523915075584,Tscheetah: Anyone wanna help a student with so...,0
15714,tw-712289019741278208,awscloud: New on the Public Sector Blog: Going...,0
45965,tw-684036567845978113,New Free Netflix Streaming #Wordpress Theme Po...,0
68065,tw-691821117582000129,Apex: serverless architecture with AWS Lambda ...,0
70520,tw-688196817968730114,Mid To Senior Software Engineer Python Javascr...,0
36732,tw-707129045100662785,RT @laravelphp: If you haven't tried Forge yet...,40

In [35]:
# Q-20. Retrieve tweets with sentiment 'Positive' or 'Neutral' and Lang as 'English' or 'Spanish.'
requiredSentiments = ['Positive', 'Neutral']
requiredLanguages = ['English', 'Spanish']
tweets_df[(tweets_df['Sentiment'].isin(requiredSentiments)) & (tweets_df['Lang'].isin(requiredLanguages))].sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text,TotalEngagement
44896,tw-9709652,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-712283545876746240,8,22,Tuesday,True,689,2,0,44,Neutral,English,RT @OliverGayagoy: Dropbox moves out of AWS? Â ...,2
50490,tw-1525490348,Female,3738,New York City,New York,US-NY,United States,tw-687394608435838978,15,13,Wednesday,False,877,1,0,50,Neutral,English,Apply Today - Full Stack Developer in New York...,1
85632,tw-21878207,Unknown,3842,Herndon,Virginia,US-VA,United States,tw-692780463287508992,11,28,Thursday,False,484,1,0,42,Neutral,English,What are they 7 Core Requirements for an AWS C...,1
100156,tw-703041190841593856,Female,4864,South Park,Wyoming,US-WY,United States,tw-703717923534315520,16,27,Saturday,True,25,1,0,0,Neutral,Spanish,RT @tweekers2002: @Lexus_SP Aws pelirrojita ro...,1
90761,tw-14138249,Unknown,3886,Oakland,California,US-CA,United States,tw-705932499193458688,18,4,Friday,True,63,1,0,24,Positive,English,RT @caseyjlaw: I have a working fast transient...,1
99826,tw-16232524,Unknown,4669,Kokomo,Indiana,US-IN,United States,tw-697596889768849409,18,10,Wednesday,True,177,75,0,0,Neutral,English,RT @nixcraft: AWS and Â Zombies in actual TOS ....,75
44713,tw-15236289,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-691947789719314433,4,26,Tuesday,False,2649,0,0,46,Neutral,English,Amazon Web Services Now Offers Free SSL/TLS ht...,0
68762,tw-2728786850,Male,3753,San Francisco,California,US-CA,United States,tw-694648465012293632,15,2,Tuesday,True,63,1,0,28,Neutral,English,RT @cloudability: Check out our newest post: D...,1
17520,tw-9322572,Unisex,1329,Bangalore,Karnataka,IN,India,tw-703036342058426368,18,25,Thursday,False,353,0,0,48,Neutral,English,Apple could be dumping Amazons cloud Morgan St...,0
69876,tw-2938098293,Female,3754,Houston,Texas,US-TX,United States,tw-716196345233678336,3,2,Saturday,True,932,1,0,45,Neutral,English,RT @SiliconArmada: Senior Product Analytics En...,1

### <center>Thank you.</center>