### <center>1. Data Importing & Preprocessing</center>

In [1]:
import pandas as pd
tweets_df = pd.read_csv('tweets-engagement-metrics.csv')
tweets_df.head(10)

,Unnamed: 0,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...
2,2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
5,5,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86.0,0.0,0.0,21.0,0.0,en,10 Lessons from 10 Years of Amazon Web Service...
6,6,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86.0,0.0,0.0,24.0,2.0,en,How powerful are the burstable aws t2 instance...
7,7,tw-126745533,Male,4.0,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175.0,3.0,0.0,33.0,0.0,en,RT @pzerger: Microsoft and Google Lead in Clou...
8,8,tw-126745533,Male,4.0,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175.0,7.0,0.0,33.0,0.0,en,RT @awscloud: How to deploy an SSL certificate...
9,9,tw-330939742,Male,6.0,NaN,NaN,NaN,Algeria,tw-697732825290772480,3,11,Thursday,False,192.0,2.0,0.0,42.0,-3.0,en,Too bad #Facebook: Host #Parse on #AWS #Heroku...

In [2]:
# Columns of the dataset
print(tweets_df.columns.to_list())

['Unnamed: 0', 'UserID', 'Gender', 'LocationID', 'City', 'State', 'StateCode', 'Country', 'TweetID', 'Hour', 'Day', 'Weekday', 'IsReshare', 'Reach', 'RetweetCount', 'Likes', 'Klout', 'Sentiment', 'Lang', 'text']

In [3]:
# Removing the unrequired columns
tweets_df.drop(tweets_df.columns.to_list()[0], axis=1, inplace=True)
tweets_df.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...
2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
5,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86.0,0.0,0.0,21.0,0.0,en,10 Lessons from 10 Years of Amazon Web Service...
6,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86.0,0.0,0.0,24.0,2.0,en,How powerful are the burstable aws t2 instance...
7,tw-126745533,Male,4.0,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175.0,3.0,0.0,33.0,0.0,en,RT @pzerger: Microsoft and Google Lead in Clou...
8,tw-126745533,Male,4.0,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175.0,7.0,0.0,33.0,0.0,en,RT @awscloud: How to deploy an SSL certificate...
9,tw-330939742,Male,6.0,NaN,NaN,NaN,Algeria,tw-697732825290772480,3,11,Thursday,False,192.0,2.0,0.0,42.0,-3.0,en,Too bad #Facebook: Host #Parse on #AWS #Heroku...

In [4]:
# Checking the null values
tweets_df.isnull().sum()

UserID             0
Gender             0
LocationID         0
City            2279
State           1897
StateCode       1726
Country            0
TweetID            0
Hour               0
Day                0
Weekday            0
IsReshare          0
Reach              0
RetweetCount       0
Likes              0
Klout              0
Sentiment          0
Lang               0
text               0
dtype: int64

In [5]:
# Filling the null values in the dataframe
tweets_df.fillna('NA', axis = 1, inplace = True)
tweets_df.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...
2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
5,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86.0,0.0,0.0,21.0,0.0,en,10 Lessons from 10 Years of Amazon Web Service...
6,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86.0,0.0,0.0,24.0,2.0,en,How powerful are the burstable aws t2 instance...
7,tw-126745533,Male,4.0,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175.0,3.0,0.0,33.0,0.0,en,RT @pzerger: Microsoft and Google Lead in Clou...
8,tw-126745533,Male,4.0,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175.0,7.0,0.0,33.0,0.0,en,RT @awscloud: How to deploy an SSL certificate...
9,tw-330939742,Male,6.0,NA,NA,NA,Algeria,tw-697732825290772480,3,11,Thursday,False,192.0,2.0,0.0,42.0,-3.0,en,Too bad #Facebook: Host #Parse on #AWS #Heroku...

In [6]:
# Checking the duplicated values in the dataframe
tweets_df.nunique()

UserID          33212
Gender              4
LocationID       4309
City             3802
State            1009
StateCode         358
Country           151
TweetID         99999
Hour               24
Day                31
Weekday             7
IsReshare           2
Reach           12473
RetweetCount      478
Likes              87
Klout              84
Sentiment         309
Lang               36
text            70267
dtype: int64

In [7]:
# Datatypes of the columns in the dataframe
tweets_df.dtypes

UserID          object
Gender          object
LocationID      object
City            object
State           object
StateCode       object
Country         object
TweetID         object
Hour            object
Day             object
Weekday         object
IsReshare       object
Reach           object
RetweetCount    object
Likes           object
Klout           object
Sentiment       object
Lang            object
text            object
dtype: object

In [8]:
# Changing the datatypes of the columns in the dataframe
tweets_df[['LocationID', 'Reach', 'RetweetCount', 'Likes', 'Klout']] = tweets_df[['LocationID', 'Reach', 'RetweetCount', 'Likes', 'Klout']].astype(int)
tweets_df.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,tw-1267804344,Unknown,1,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339,127,0,44,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87,0,0,22,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...
2,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87,0,0,22,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87,0,0,22,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85,0,0,21,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
5,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86,0,0,21,0.0,en,10 Lessons from 10 Years of Amazon Web Service...
6,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86,0,0,24,2.0,en,How powerful are the burstable aws t2 instance...
7,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175,3,0,33,0.0,en,RT @pzerger: Microsoft and Google Lead in Clou...
8,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175,7,0,33,0.0,en,RT @awscloud: How to deploy an SSL certificate...
9,tw-330939742,Male,6,NA,NA,NA,Algeria,tw-697732825290772480,3,11,Thursday,False,192,2,0,42,-3.0,en,Too bad #Facebook: Host #Parse on #AWS #Heroku...

In [9]:
# Classifying the sentiment as per the values in the dataframe.
classifySentiment = lambda x: 'Neutral' if x == 0 else ('Positive' if x > 0 else 'Negative')
tweets_df['SentimentText'] = tweets_df['Sentiment'].apply(classifySentiment)
tweets_df.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,SentimentText
0,tw-1267804344,Unknown,1,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339,127,0,44,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi...",Neutral
1,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87,0,0,22,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...,Neutral
2,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87,0,0,22,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...,Neutral
3,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87,0,0,22,0.0,en,Bridging AWS and Azure environments via VPN vi...,Neutral
4,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85,0,0,21,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...,Neutral
5,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86,0,0,21,0.0,en,10 Lessons from 10 Years of Amazon Web Service...,Neutral
6,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86,0,0,24,2.0,en,How powerful are the burstable aws t2 instance...,Positive
7,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175,3,0,33,0.0,en,RT @pzerger: Microsoft and Google Lead in Clou...,Neutral
8,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175,7,0,33,0.0,en,RT @awscloud: How to deploy an SSL certificate...,Neutral
9,tw-330939742,Male,6,NA,NA,NA,Algeria,tw-697732825290772480,3,11,Thursday,False,192,2,0,42,-3.0,en,Too bad #Facebook: Host #Parse on #AWS #Heroku...,Negative

In [10]:
# Checking the unique languages
print(list(tweets_df['Lang'].unique()))

['en', 'es', '_u', 'pt', 'in', 'it', 'fr', 'ro', 'da', 'zh', 'ko', 'tl', 'de', 'ja', 'ru', 'nl', 'hu', 'cy', 'km', 'ar', 'cs', 'ht', 'fi', 'et', 'no', 'pl', 'eu', 'lv', 'sv', 'tr', 'hi', 'iw', 'lt', 'sl', 'uk', 'th']

In [11]:
# Getting the respective languages as per the 'Lang' codes in the dataframe
lang_codes = {'en': 'English', 'es': 'Spanish', '_u': 'Undetermined', 'pt': 'Portuguese', 'in': 'Indonesian', 'it': 'Italian', 'fr': 'French', 'ro': 'Romanian', 'da': 'Danish', 'zh': 'Chinese', 'ko': 'Korean', 'tl': 'Tagalog', 'de': 'German', 'ja': 'Japanese', 'ru': 'Russian', 'nl': 'Dutch', 'hu': 'Hungarian', 'cy': 'Welsh', 'km': 'Khmer', 'ar': 'Arabic', 'cs': 'Czech', 'ht': 'Haitian Creole', 'fi': 'Finnish', 'et': 'Estonian', 'no': 'Norwegian', 'pl': 'Polish', 'eu': 'Basque', 'lv': 'Latvian', 'sv': 'Swedish', 'tr': 'Turkish', 'hi': 'Hindi', 'iw': 'Hebrew', 'lt': 'Lithuanian', 'sl': 'Slovenian', 'uk': 'Ukrainian', 'th': 'Thai'}
tweets_df['Language'] = tweets_df['Lang'].map(lang_codes)
tweets_df.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,...,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,SentimentText,Language
0,tw-1267804344,Unknown,1,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,...,True,339,127,0,44,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi...",Neutral,English
1,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,...,False,87,0,0,22,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...,Neutral,English
2,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,...,False,87,0,0,22,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...,Neutral,English
3,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,...,False,87,0,0,22,0.0,en,Bridging AWS and Azure environments via VPN vi...,Neutral,English
4,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,...,False,85,0,0,21,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...,Neutral,English
5,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,...,False,86,0,0,21,0.0,en,10 Lessons from 10 Years of Amazon Web Service...,Neutral,English
6,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,...,False,86,0,0,24,2.0,en,How powerful are the burstable aws t2 instance...,Positive,English
7,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,...,True,175,3,0,33,0.0,en,RT @pzerger: Microsoft and Google Lead in Clou...,Neutral,English
8,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,...,True,175,7,0,33,0.0,en,RT @awscloud: How to deploy an SSL certificate...,Neutral,English
9,tw-330939742,Male,6,NA,NA,NA,Algeria,tw-697732825290772480,3,11,...,False,192,2,0,42,-3.0,en,Too bad #Facebook: Host #Parse on #AWS #Heroku...,Negative,English

In [12]:
# Removing the 'Lang' & 'Sentiment' columns
tweets_df.drop(['Lang', 'Sentiment'], axis=1, inplace=True)
tweets_df.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,text,SentimentText,Language
0,tw-1267804344,Unknown,1,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339,127,0,44,"""RT @AdrianRusso82: Our Innovation Lab is offi...",Neutral,English
1,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87,0,0,22,Now Open AWS Asia Pacific (Seoul) Region via ...,Neutral,English
2,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87,0,0,22,A Beginner's Guide to Scaling to 11 Million+ U...,Neutral,English
3,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87,0,0,22,Bridging AWS and Azure environments via VPN vi...,Neutral,English
4,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85,0,0,21,ELK on AWS ElasticSearch Service + ElasticBean...,Neutral,English
5,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86,0,0,21,10 Lessons from 10 Years of Amazon Web Service...,Neutral,English
6,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86,0,0,24,How powerful are the burstable aws t2 instance...,Positive,English
7,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175,3,0,33,RT @pzerger: Microsoft and Google Lead in Clou...,Neutral,English
8,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175,7,0,33,RT @awscloud: How to deploy an SSL certificate...,Neutral,English
9,tw-330939742,Male,6,NA,NA,NA,Algeria,tw-697732825290772480,3,11,Thursday,False,192,2,0,42,Too bad #Facebook: Host #Parse on #AWS #Heroku...,Negative,English

In [13]:
# Moving the text column to the right place
tweets_df = tweets_df[[col for col in tweets_df.columns if col != 'text'] + ['text']]
tweets_df.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,SentimentText,Language,text
0,tw-1267804344,Unknown,1,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339,127,0,44,Neutral,English,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87,0,0,22,Neutral,English,Now Open AWS Asia Pacific (Seoul) Region via ...
2,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87,0,0,22,Neutral,English,A Beginner's Guide to Scaling to 11 Million+ U...
3,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87,0,0,22,Neutral,English,Bridging AWS and Azure environments via VPN vi...
4,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85,0,0,21,Neutral,English,ELK on AWS ElasticSearch Service + ElasticBean...
5,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86,0,0,21,Neutral,English,10 Lessons from 10 Years of Amazon Web Service...
6,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86,0,0,24,Positive,English,How powerful are the burstable aws t2 instance...
7,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175,3,0,33,Neutral,English,RT @pzerger: Microsoft and Google Lead in Clou...
8,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175,7,0,33,Neutral,English,RT @awscloud: How to deploy an SSL certificate...
9,tw-330939742,Male,6,NA,NA,NA,Algeria,tw-697732825290772480,3,11,Thursday,False,192,2,0,42,Negative,English,Too bad #Facebook: Host #Parse on #AWS #Heroku...

In [14]:
# Renaming the 'SentimentText' column to 'Sentiment' and 'Language' to 'Lang'
tweets_df = tweets_df.rename(columns={'IsReshare':'IsReshared', 'SentimentText': 'Sentiment', 'Language': 'Lang'})
tweets_df.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,tw-1267804344,Unknown,1,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339,127,0,44,Neutral,English,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87,0,0,22,Neutral,English,Now Open AWS Asia Pacific (Seoul) Region via ...
2,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87,0,0,22,Neutral,English,A Beginner's Guide to Scaling to 11 Million+ U...
3,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87,0,0,22,Neutral,English,Bridging AWS and Azure environments via VPN vi...
4,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85,0,0,21,Neutral,English,ELK on AWS ElasticSearch Service + ElasticBean...
5,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86,0,0,21,Neutral,English,10 Lessons from 10 Years of Amazon Web Service...
6,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86,0,0,24,Positive,English,How powerful are the burstable aws t2 instance...
7,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175,3,0,33,Neutral,English,RT @pzerger: Microsoft and Google Lead in Clou...
8,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175,7,0,33,Neutral,English,RT @awscloud: How to deploy an SSL certificate...
9,tw-330939742,Male,6,NA,NA,NA,Algeria,tw-697732825290772480,3,11,Thursday,False,192,2,0,42,Negative,English,Too bad #Facebook: Host #Parse on #AWS #Heroku...

### <center>2. Data Querying</center>

In [15]:
# Q-1. Retrieve the total number of tweets in the dataset.
print(f"The no. of tweets in the dataset = {len(tweets_df)}.")

The no. of tweets in the dataset = 102062.

In [16]:
# Q-2. Find the number of distinct users (UserID) in the dataset.
print(f"The number of distinct users in the dataset = {tweets_df['UserID'].nunique()}.")

The number of distinct users in the dataset = 33212.

In [17]:
# Q-3. Calculate the average number of likes per tweet.
print(f"The average number of likes per tweet = {round(tweets_df['Likes'].mean(), 3)}.")

The average number of likes per tweet = 0.15.

In [18]:
# Q-4. Identify tweets where the sentiment is 'Positive.' Display the TweetID and sentiment.
positive_tweets_df = tweets_df[tweets_df['Sentiment'] == 'Positive'][['TweetID', 'Sentiment']]
positive_tweets_df

                      TweetID Sentiment
6       tw-714806305106604032  Positive
16      tw-705439172962742273  Positive
17      tw-685663098636791808  Positive
19      tw-699705067834834944  Positive
28      tw-710593048158281729  Positive
...                       ...       ...
102053  tw-683751716353912833  Positive
102054  tw-702581824921477120  Positive
102056  tw-693440798403268613  Positive
102057  tw-696378029526933504  Positive
102059  tw-709632884269785088  Positive

[27628 rows x 2 columns]

In [19]:
# Q-5. Count the number of tweets where IsReshare is true (1).
print(f"The number of tweets being reshared = {len(tweets_df[tweets_df['IsReshared'] == 1])}.")

The number of tweets being reshared = 36210.

In [20]:
# Q-6. List the top 5 users with the highest Reach. Display their UserID and Reach.
top_users_reach = tweets_df.nlargest(5, 'Reach')[['UserID', 'Reach']]
top_users_reach

            UserID     Reach
53032   tw-3108351  10342452
53079  tw-91478624   8196371
67044    tw-816653   6485485
67043    tw-816653   6482073
67042    tw-816653   6425442

In [21]:
# Q-7. Find the most common language (Lang) used in tweets.
print(f"The most common language used in tweets = {tweets_df['Lang'].mode()[0]}.")

The most common language used in tweets = English.

In [22]:
# Q-8. Determine the average Klout score for male (Gender = 'Male') users.
print(f"The average Klout score for male users = {round(tweets_df[tweets_df['Gender'] == 'Male']['Klout'].mean(), 3)}.")

The average Klout score for male users = 39.606.

In [23]:
# Q-9. Retrieve tweets posted on weekdays (Monday to Friday).
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday_tweets = tweets_df[tweets_df['Weekday'].isin(weekdays)]
weekday_tweets.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,tw-1267804344,Unknown,1,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339,127,0,44,Neutral,English,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87,0,0,22,Neutral,English,Now Open AWS Asia Pacific (Seoul) Region via ...
2,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87,0,0,22,Neutral,English,A Beginner's Guide to Scaling to 11 Million+ U...
3,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87,0,0,22,Neutral,English,Bridging AWS and Azure environments via VPN vi...
4,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85,0,0,21,Neutral,English,ELK on AWS ElasticSearch Service + ElasticBean...
6,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86,0,0,24,Positive,English,How powerful are the burstable aws t2 instance...
9,tw-330939742,Male,6,NA,NA,NA,Algeria,tw-697732825290772480,3,11,Thursday,False,192,2,0,42,Negative,English,Too bad #Facebook: Host #Parse on #AWS #Heroku...
10,tw-4762500137,Female,10,Luanda,Luanda,AO,Angola,tw-686583995686096896,9,11,Monday,True,52,4,0,0,Neutral,English,RT @imoyse: Climbing the hybrid cloud on-ramp:...
11,tw-4762500137,Female,10,Luanda,Luanda,AO,Angola,tw-686877684715118597,4,12,Tuesday,True,52,2,0,10,Negative,English,RT @imoyse: What Google says to AWS price cuts...
12,tw-4762500137,Female,10,Luanda,Luanda,AO,Angola,tw-690340663787921408,18,21,Thursday,True,63,24,0,16,Negative,English,RT @imoyse: Introducing the Lambda Uploader fo...

In [24]:
# Q-10. Identify tweets with a Klout score greater than 50. Display the TweetID and Klout.
kloutScore50 = tweets_df[tweets_df['Klout'] > 50][['TweetID', 'Klout']]
kloutScore50.head(10)

                  TweetID  Klout
18  tw-699697559233785856     60
19  tw-699705067834834944     60
20  tw-699706811650338818     60
21  tw-703293482832683008     55
22  tw-703767262331867136     55
23  tw-703293482832683008     55
24  tw-703767262331867136     55
42  tw-711988164089352192     51
43  tw-712462337341411328     51
44  tw-714812748438315008     51

In [25]:
# Q-11. Count the number of tweets posted from the United States (Country = 'United States').
print(f"The no. of tweets from the United States = {len(tweets_df[tweets_df['Country'] == 'United States'])}.")

The no. of tweets from the United States = 51457.

In [26]:
# Q-12. List tweets with the highest number of retweets. Display the TweetID and RetweetCount.
retweet_count = tweets_df.nlargest(1, 'RetweetCount')[['TweetID', 'RetweetCount']]
retweet_count

                     TweetID  RetweetCount
98345  tw-700865627364392960         26127

In [27]:
# Q-13. Find tweets with sentiment 'Negative' and Klout score less than 40.
negative_tweets_df = tweets_df[(tweets_df['Sentiment'] == 'Negative') & (tweets_df['Klout'] < 40)]
negative_tweets_df.head()

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
11,tw-4762500137,Female,10,Luanda,Luanda,AO,Angola,tw-686877684715118597,4,12,Tuesday,True,52,2,0,10,Negative,English,RT @imoyse: What Google says to AWS price cuts...
12,tw-4762500137,Female,10,Luanda,Luanda,AO,Angola,tw-690340663787921408,18,21,Thursday,True,63,24,0,16,Negative,English,RT @imoyse: Introducing the Lambda Uploader fo...
13,tw-4762500137,Female,10,Luanda,Luanda,AO,Angola,tw-690506796876824576,5,22,Friday,True,63,26,0,16,Negative,English,RT @imoyse: Microsoft slashes Azure prices up ...
14,tw-4762500137,Female,10,Luanda,Luanda,AO,Angola,tw-698315842434555904,18,12,Friday,True,107,25,0,31,Negative,English,RT @imoyse: House of clouds: Netflix abandons ...
250,tw-1971357690,Male,14,Buenos Aires,Buenos Aires F.D.,AR,Argentina,tw-706866125481508866,8,7,Monday,True,317,11,0,27,Negative,English,RT @BridgeWorksLtd: #AWS cuts #cloud #datatran...

In [28]:
# Q-14. Calculate the average Likes for tweets posted on weekends (Saturday and Sunday).
print(f"The average likes for tweets posted on weekends = {round(tweets_df[tweets_df['Weekday'].isin(['Saturday', 'Sunday'])]['Likes'].mean(), 3)}.")

The average likes for tweets posted on weekends = 0.114.

In [29]:
# Q-15. Retrieve tweets posted in the city of 'New York.'
new_york_tweets = tweets_df[tweets_df['City'].str.contains('New York')]
new_york_tweets.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
50408,tw-621254192,Unknown,3738,New York City,New York,US-NY,United States,tw-697266007786696705,20,9,Tuesday,False,858,0,0,51,Positive,English,#Data Scientist - SQL AWS Python- Rapidly grow...
50409,tw-621254192,Unknown,3738,New York City,New York,US-NY,United States,tw-697839389561368577,10,11,Thursday,False,878,0,0,51,Neutral,English,#Senior .NET Developer w/ CLOUD! - C# http://w...
50410,tw-621254192,Unknown,3738,New York City,New York,US-NY,United States,tw-699225219123142657,6,15,Monday,False,881,0,0,51,Positive,English,#Nice SaaS Amazon Web Services tells Italian s...
50411,tw-621254192,Unknown,3738,New York City,New York,US-NY,United States,tw-699225314661048320,6,15,Monday,False,881,0,0,51,Positive,English,#Nice SaaS Amazon Web Services tells Italian s...
50412,tw-621254192,Unknown,3738,New York City,New York,US-NY,United States,tw-700182164231442432,21,17,Wednesday,False,895,0,0,50,Neutral,English,#Sr. Web Server Engineer (AWS) #jobs #jobsearc...
50413,tw-621254192,Unknown,3738,New York City,New York,US-NY,United States,tw-701989854238801921,21,22,Monday,False,875,0,0,50,Neutral,English,#DevOps Engineer - Amazon Web Services (AWS) O...
50414,tw-621254192,Unknown,3738,New York City,New York,US-NY,United States,tw-703678882323394560,13,27,Saturday,False,932,0,0,50,Neutral,English,#AWS Architect / Expert #jobs #jobsearch #: #O...
50415,tw-621254192,Unknown,3738,New York City,New York,US-NY,United States,tw-703772189082853376,19,27,Saturday,False,932,0,0,50,Neutral,English,#Network Infrastructure Engineer #jobs #jobsea...
50416,tw-621254192,Unknown,3738,New York City,New York,US-NY,United States,tw-709701115827228673,5,15,Tuesday,False,971,0,0,50,Neutral,English,#Sr. Full Stack Engineer - JavaScript Java AWS...
50417,tw-621254192,Male,3738,New York City,New York,US-NY,United States,tw-697266007786696705,20,9,Tuesday,False,858,0,0,51,Positive,English,#Data Scientist - SQL AWS Python- Rapidly grow...

In [30]:
# Q-16. Identify tweets where Reach is greater than 1000. Display the TweetID and Reach.
thousand_reach = tweets_df[tweets_df['Reach'] > 1000][['TweetID', 'Reach']]
thousand_reach.head()

                  TweetID  Reach
18  tw-699697559233785856   2528
19  tw-699705067834834944   2528
20  tw-699706811650338818   2528
21  tw-703293482832683008   6444
22  tw-703767262331867136   6446