### <center>1. Data Importing & Preprocessing</center>

In [1]:
import pandas as pd
tweets_df = pd.read_csv('tweets-engagement-metrics.csv')
tweets_df.sample(frac=1).head(10)

,Unnamed: 0,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
83809,83809,tw-19972666,Male,3822.0,Suffolk,Virginia,US-VA,United States,tw-702833208862318593,5,25,Thursday,False,478.0,0.0,0.0,27.0,0.0,en,@simonbowen I've very nearly used it many time...
99596,99596,tw-18063837,Male,4570.0,Louisville,Ohio,US-OH,United States,tw-697798531042697216,8,11,Thursday,True,203.0,28.0,0.0,25.0,0.0,en,RT @Pogue: The Service Terms for Amazon Web Se...
75488,75488,tw-142430410,Male,3768.0,Cambridge,Massachusetts,US-MA,United States,tw-707296714948874240,13,8,Tuesday,True,42.0,4.0,0.0,33.0,1.0,en,RT @awscloud: Registration is now open for #AW...
83020,83020,tw-17522346,Male,3816.0,Phoenix,Arizona,US-AZ,United States,tw-697221125449850880,17,9,Tuesday,False,384.0,0.0,0.0,43.0,0.0,en,AWS What's New: Improved Amazon Redshift Data ...
8161,8161,tw-708852417538826240,Male,617.0,Guangzhou,Guangdong Province,CN,China,tw-711131825092075520,4,19,Saturday,False,15.0,0.0,0.0,23.0,0.0,en,Were hosting a week of 100+ tech events Â inclu...
70869,70869,tw-3020691677,Female,3758.0,Philadelphia,Pennsylvania,US-PA,United States,tw-711852723969376257,3,21,Monday,False,1316.0,0.0,0.0,43.0,3.0,en,#360WiseNews AWS Bolsters High Performance Com...
73148,73148,tw-189173792,Male,3764.0,Portland,Oregon,US-OR,United States,tw-709818585846157312,13,15,Tuesday,False,1915.0,0.0,0.0,52.0,0.0,en,Amazon Web Services Follows Microsoft Azures F...
45646,45646,tw-63269843,Unisex,3027.0,Oxford,Oxfordshire,GB-K2,United Kingdom,tw-705834905352204288,12,4,Friday,False,1059.0,1.0,0.0,41.0,1.0,en,So every time I criticise AWS I'm told to acce...
72227,72227,tw-15812482,Unknown,3762.0,Westminster,Colorado,US-CO,United States,tw-710215770710487040,15,16,Wednesday,True,18904.0,2.0,0.0,62.0,0.0,en,RT @DevOpsBlogs: AWS IoT integrates with Elast...
38227,38227,tw-12838622,Unknown,2925.0,Taipei,Taipei,TW,Taiwan,tw-707389356529418240,19,8,Tuesday,False,525.0,0.0,0.0,41.0,0.0,zh,Building a Real-Time Bidding Platform on #AWS ...

In [2]:
# Columns of the dataset
print(tweets_df.columns.to_list())

['Unnamed: 0', 'UserID', 'Gender', 'LocationID', 'City', 'State', 'StateCode', 'Country', 'TweetID', 'Hour', 'Day', 'Weekday', 'IsReshare', 'Reach', 'RetweetCount', 'Likes', 'Klout', 'Sentiment', 'Lang', 'text']

In [3]:
# Removing the unrequired columns
tweets_df.drop(tweets_df.columns.to_list()[0], axis=1, inplace=True)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
87236,tw-2385274356,Unknown,3852.0,Newton,Massachusetts,US-MA,United States,tw-685523617661075456,11,8,Friday,False,375.0,1.0,0.0,44.0,0.5,en,AWS price cut patterns reflect cloud growth ma...
15473,tw-586887461,Unknown,1075.0,Duisburg,North Rhine-Westphalia,DE,Germany,tw-702920791780941825,11,25,Thursday,False,2116.0,0.0,0.0,55.0,0.5,en,awscloud: Hey Tampa FL: We'll be there 3/8 to ...
5916,tw-512410920,Male,463.0,Calgary,Alberta,CA,Canada,tw-706880538896785408,9,7,Monday,False,949.0,0.0,0.0,45.0,0.0,en,"""me: we have this aws instance called '[client..."
24858,tw-586154954,Unknown,1502.0,Semarang,Central Java,ID,Indonesia,tw-701792259696517120,8,22,Monday,False,122.0,0.0,0.0,41.0,0.0,en,Download Source Code AWS SDK for Android 2.2.1...
47553,tw-1722831672,Unknown,3060.0,Fareham,Hampshire,GB-F2,United Kingdom,tw-712770039347326976,16,23,Wednesday,False,628.0,0.0,0.0,52.0,-3.0,en,GCP Next: Google spurns Azure sucks up to AWS ...
99635,tw-19116515,Unknown,4598.0,London,Arkansas,US-AR,United States,tw-684016083402100736,7,4,Monday,False,14410.0,0.0,0.0,56.0,0.0,en,@robaeprice @jyarow To me that sounded more li...
23833,tw-165466664,Female,1374.0,Badlapur,Maharashtra,IN,India,tw-710524870518394880,11,17,Thursday,False,31.0,0.0,0.0,24.0,0.0,en,AWS at 10: How the cloud giant shook up enterp...
12937,tw-63187414,Unknown,827.0,Us,Ile-de-France,FR,France,tw-698175343245524992,9,12,Friday,False,455.0,0.0,0.0,38.0,0.0,en,6 Things Amazon Can Teach us About How to Do #...
2929,tw-181135471,Unknown,81.0,Melbourne,Victoria,AU-07,Australia,tw-697565158911008768,16,10,Wednesday,False,64.0,9.0,0.0,27.0,0.0,en,AWS service terms trying to really cover all b...
17308,tw-160200675,Male,1329.0,Bangalore,Karnataka,IN,India,tw-702499929499922432,7,24,Wednesday,True,44.0,2.0,0.0,26.0,0.0,en,"""RT @BotmetricHQ: Single dashboard that gives ..."

In [4]:
# Checking the null values
tweets_df.isnull().sum()

UserID             0
Gender             0
LocationID         0
City            2279
State           1897
StateCode       1726
Country            0
TweetID            0
Hour               0
Day                0
Weekday            0
IsReshare          0
Reach              0
RetweetCount       0
Likes              0
Klout              0
Sentiment          0
Lang               0
text               0
dtype: int64

In [5]:
# Filling the null values in the dataframe
tweets_df.fillna('NA', axis = 1, inplace = True)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
40875,tw-18004144,Female,3019.0,London,Greater London,GB-GLA,United Kingdom,tw-684196157329944576,19,4,Monday,True,8267.0,2.0,0.0,70.0,0.0,en,RT @Acumatica: Cloud &amp; IoT integration is ...
77347,tw-946636650,Male,3776.0,Chicago,Illinois,US-IL,United States,tw-695088237132406784,20,3,Wednesday,True,73.0,112.0,0.0,16.0,1.0,en,RT @jeffbarr: New: http://aws.amazon.com/answe...
92098,tw-2962482363,Male,3913.0,London,California,US-CA,United States,tw-689211777444347907,15,18,Monday,False,99.0,0.0,0.0,42.0,0.0,en,@Azure takes aim at @awscloud's hybrid capabil...
54241,tw-128978386,Male,3739.0,Washington Â D. C.,Washington Â D.C.,US-DC,United States,tw-697822912145985536,9,11,Thursday,True,47.0,1.0,0.0,13.0,2.0,en,RT @sumeruinc: #jobs looking for new #opportun...
93298,tw-260592625,Unisex,3941.0,Orlando,Florida,US-FL,United States,tw-714908631704215552,14,29,Tuesday,False,1150.0,0.0,0.0,47.0,2.0,en,@TijuanaFlats No problem everything I could te...
24786,tw-240460194,Unknown,1498.0,Samarinda,East Kalimantan,ID,Indonesia,tw-703109244539662338,23,25,Thursday,False,6156.0,0.0,0.0,45.0,0.0,in,14.42 Simpang Air Hitam &gt; Jl. Kadrie Oening...
82062,tw-179693626,Male,3814.0,Baltimore,Maryland,US-MD,United States,tw-712057769814319104,17,21,Monday,True,1140.0,6.0,0.0,47.0,0.0,en,RT @awscloud: The Amazon Machine Learning Cons...
70168,tw-2400376322,Male,3755.0,Charlotte,North Carolina,US-NC,United States,tw-711116279688642560,3,19,Saturday,False,308.0,0.0,0.0,46.0,0.0,en,Apple working on secret Project McQueen to mov...
68,tw-3327218919,Unknown,13.0,NA,NA,NA,Argentina,tw-701265660320608257,21,20,Saturday,False,1191.0,1.0,0.0,46.0,0.0,es,@NereaAbraham_ Aws que genia que sos eh! jeje ...
65672,tw-1176559771,Male,3753.0,San Francisco,California,US-CA,United States,tw-694276569594875904,14,1,Monday,False,775.0,0.0,0.0,47.0,0.5,en,Google Cloud Local SSD - 5x the IOPS at 1/2 th...

In [6]:
# Checking the duplicated values in the dataframe
tweets_df.nunique()

UserID          33212
Gender              4
LocationID       4309
City             3802
State            1009
StateCode         358
Country           151
TweetID         99999
Hour               24
Day                31
Weekday             7
IsReshare           2
Reach           12473
RetweetCount      478
Likes              87
Klout              84
Sentiment         309
Lang               36
text            70267
dtype: int64

In [7]:
# Datatypes of the columns in the dataframe
tweets_df.dtypes

UserID          object
Gender          object
LocationID      object
City            object
State           object
StateCode       object
Country         object
TweetID         object
Hour            object
Day             object
Weekday         object
IsReshare       object
Reach           object
RetweetCount    object
Likes           object
Klout           object
Sentiment       object
Lang            object
text            object
dtype: object

In [8]:
# Changing the datatypes of the columns in the dataframe
tweets_df[['LocationID', 'Reach', 'RetweetCount', 'Likes', 'Klout']] = tweets_df[['LocationID', 'Reach', 'RetweetCount', 'Likes', 'Klout']].astype(int)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
42086,tw-60844051,Unknown,3019,London,Greater London,GB-GLA,United Kingdom,tw-694823744238440448,3,3,Wednesday,False,11252,0,0,63,-1.0,en,Can network infrastructure keep up with data t...
43651,tw-30039656,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-697127369920925696,11,9,Tuesday,True,126,58,0,29,0.0,en,RT @TechCrunch: AWS Announces New Set Of Integ...
7774,tw-3316009302,Male,611,Beijing,Beijing,CN,China,tw-706579653440512000,13,6,Sunday,True,382,15,0,43,0.0,en,RT @awscloud: Come hack &amp; snack while figh...
95412,tw-23081953,Male,4035,Italy,Texas,US-TX,United States,tw-690593277712687104,10,22,Friday,True,312,21,0,36,4.0,en,RT @nudehaberdasher: Think you are awesome at ...
66936,tw-4086101,Male,3753,San Francisco,California,US-CA,United States,tw-695141901255757824,0,4,Thursday,True,229,1,0,0,2.0,en,RT @TreasureData: Check out how #TreasureData ...
71184,tw-2517890598,Unknown,3759,NA,NA,US-,United States,tw-692748446625738752,9,28,Thursday,False,515,0,0,48,0.0,en,See our latest #Orlando FL #job and click to a...
61040,tw-3172722821,Unknown,3751,Seattle,Washington,US-WA,United States,tw-685261893485899776,17,7,Thursday,False,901,0,0,48,0.0,en,#AWS #Enterprise Accounts Solutions Architect ...
13334,tw-901901162,Male,1065,Munich,Bavaria,DE,Germany,tw-687939445883060224,3,15,Friday,True,193,6,0,41,3.0,en,RT @GavinPJackson1: AWS rated as excellent in ...
16574,tw-1511468623,Unisex,1116,Walldorf,Baden-Wuerttemberg Region,DE,Germany,tw-713483483574874115,15,25,Friday,False,681,0,0,46,0.0,en,[Eventtipp] Come to the Light Side Â Azure for ...
14247,tw-141885367,Unknown,1068,Weil am Rhein,Baden-Wuerttemberg Region,DE,Germany,tw-686835279269773313,2,12,Tuesday,False,387,0,0,44,0.0,en,#Government Operations Finance and Efficiency ...

In [9]:
# Classifying the sentiment as per the values in the dataframe.
classifySentiment = lambda x: 'Neutral' if x == 0 else ('Positive' if x > 0 else 'Negative')
tweets_df['SentimentText'] = tweets_df['Sentiment'].apply(classifySentiment)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,SentimentText
70113,tw-2400376322,Male,3755,Charlotte,North Carolina,US-NC,United States,tw-690642358636023812,14,22,Friday,False,237,0,0,44,4.0,en,Enterprise bets on an AWS DR strategy -- and w...,Positive
20785,tw-223847758,Male,1334,New Delhi,NCT,IN,India,tw-711894448582610945,6,21,Monday,False,183,0,0,29,1.0,en,Test Your Apps - New AWS Device farm launched ...,Positive
75670,tw-3384664612,Female,3768,Cambridge,Massachusetts,US-MA,United States,tw-685349059960410113,23,7,Thursday,False,53,0,0,41,1.0,en,AWS the largest cloud provider also has the le...,Positive
74477,tw-124825123,Female,3766,Boston,Massachusetts,US-MA,United States,tw-709805672418779137,12,15,Tuesday,False,350,0,0,44,3.0,en,"""Retweeted Kyle Lichtenberg (@KyleLichtenberg)...",Positive
19333,tw-53762755,Unknown,1332,Mumbai,Maharashtra,IN,India,tw-709573724698095617,20,14,Monday,True,10611,26,0,61,2.666667,en,RT @JeffBezos: James Hamiltons retrospective o...,Positive
23664,tw-2478344262,Male,1356,Jaigaon,Bengal,IN,India,tw-699786484887457793,19,16,Tuesday,True,105,1,0,42,0.0,en,RT @evidentdotio: Implementing the Top Ten AWS...,Neutral
38756,tw-2901196126,Unknown,2963,stanbul,Istanbul,TR,Turkey,tw-701854526316400640,12,22,Monday,False,45032,0,0,47,0.0,tr,Zombiler uyandnda Amazon Web Services hazr ola...,Neutral
52359,tw-4235585891,Unknown,3738,New York City,New York,US-NY,United States,tw-694283126860689409,15,1,Monday,False,138,0,0,42,0.0,en,Apple could soon ditch Amazon Web Services aft...,Neutral
22668,tw-100475588,Male,1338,Pune,Maharashtra,IN,India,tw-696637871860518912,3,8,Monday,False,33,1,0,13,0.0,_u,#aws #cloud #cloudcomputing http://www.wekanba...,Neutral
821,tw-21727400,Unisex,78,Brisbane,Queensland,AU-04,Australia,tw-705135412034052098,13,2,Wednesday,False,4343,0,0,47,3.0,en,Carsales moves website into AWS Â http://www.it...,Positive

In [10]:
# Checking the unique languages
print(list(tweets_df['Lang'].unique()))

['en', 'es', '_u', 'pt', 'in', 'it', 'fr', 'ro', 'da', 'zh', 'ko', 'tl', 'de', 'ja', 'ru', 'nl', 'hu', 'cy', 'km', 'ar', 'cs', 'ht', 'fi', 'et', 'no', 'pl', 'eu', 'lv', 'sv', 'tr', 'hi', 'iw', 'lt', 'sl', 'uk', 'th']

In [11]:
# Getting the respective languages as per the 'Lang' codes in the dataframe
lang_codes = {'en': 'English', 'es': 'Spanish', '_u': 'Undetermined', 'pt': 'Portuguese', 'in': 'Indonesian', 'it': 'Italian', 'fr': 'French', 'ro': 'Romanian', 'da': 'Danish', 'zh': 'Chinese', 'ko': 'Korean', 'tl': 'Tagalog', 'de': 'German', 'ja': 'Japanese', 'ru': 'Russian', 'nl': 'Dutch', 'hu': 'Hungarian', 'cy': 'Welsh', 'km': 'Khmer', 'ar': 'Arabic', 'cs': 'Czech', 'ht': 'Haitian Creole', 'fi': 'Finnish', 'et': 'Estonian', 'no': 'Norwegian', 'pl': 'Polish', 'eu': 'Basque', 'lv': 'Latvian', 'sv': 'Swedish', 'tr': 'Turkish', 'hi': 'Hindi', 'iw': 'Hebrew', 'lt': 'Lithuanian', 'sl': 'Slovenian', 'uk': 'Ukrainian', 'th': 'Thai'}
tweets_df['Language'] = tweets_df['Lang'].map(lang_codes)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,...,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,SentimentText,Language
78039,tw-14812029,Male,3776,Chicago,Illinois,US-IL,United States,tw-697253404540686338,19,9,...,True,478,12,0,46,0.0,en,RT @timbray: Major upgrade to the AWS Terms of...,Neutral,English
39644,tw-38704895,Male,3000,Kharkiv,Kharkivs'ka Oblast',UA,Ukraine,tw-698772546188132352,0,14,...,True,107,77,0,32,0.0,en,RT @damienkatz: Full Stack Engineer: Person wi...,Neutral,English
76374,tw-14131856,Male,3774,Atlanta,Georgia,US-GA,United States,tw-710572940748832769,15,17,...,True,627,3,0,42,2.0,en,RT @zquestz: Libretto Â Vagrant as a Go Library...,Positive,English
18488,tw-2514646693,Male,1329,Bangalore,Karnataka,IN,India,tw-697550664252071936,15,10,...,False,28,0,0,39,-1.0,en,"""When the zombies rise Amazon Web Services wil...",Negative,English
24599,tw-60786964,Male,1491,Bandung,West Java,ID,Indonesia,tw-710076184818819073,6,16,...,True,49,2,0,31,0.0,in,RT @FaktaPersibBDG: Halo admin2 Yth @bola_indo...,Neutral,Indonesian
9702,tw-105163529,Male,800,Paris,Ile-de-France,FR,France,tw-687156590244397056,23,12,...,True,213,20,0,42,0.0,en,RT @awscloud: You can learn how to deploy and ...,Neutral,English
28787,tw-278688378,Unknown,1826,Amman,Amman,JO,Jordan,tw-704234722981974016,2,29,...,True,41294,3,0,72,1.625,en,RT @MLoukasha: Aws z fighting #cancer Told his...,Positive,English
3925,tw-126910888,Unisex,199,Dhaka,Dhaka,BD,Bangladesh,tw-715594834468216832,11,31,...,False,2814,0,0,43,0.0,en,"""Microsoft fires back at AWS with Azure Functi...",Neutral,English
56728,tw-14173045,Unknown,3746,Palo Alto,California,US-CA,United States,tw-697424861619064833,7,10,...,False,679,0,0,34,0.0,en,@achangnyc @NYSBOE @BOENYC @NYCVotes watch for...,Neutral,English
56845,tw-11675272,Male,3748,Ottawa,Ohio,US-OH,United States,tw-703449641191215104,22,26,...,False,1240,0,0,46,0.0,en,@daveyc123123 oof. Was fighting the beaglebone...,Neutral,English

In [12]:
# Removing the 'Lang' & 'Sentiment' columns
tweets_df.drop(['Lang', 'Sentiment'], axis=1, inplace=True)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,text,SentimentText,Language
89081,tw-4844833488,Unknown,3866,San Mateo,California,US-CA,United States,tw-711959173559222272,10,21,Monday,False,13,0,0,37,#Comcast Business Services Provides Direct Con...,Neutral,English
9951,tw-105163529,Male,800,Paris,Ile-de-France,FR,France,tw-697853528136613888,11,11,Thursday,True,219,5,0,42,RT @AWS_Partners: APN Partners learn about upc...,Neutral,English
78313,tw-2977301499,Unisex,3781,Ontario,California,US-CA,United States,tw-683005327076360192,12,1,Friday,False,619,0,0,44,Amazon AWS Route 53 GEO DNS Configurations htt...,Neutral,English
38172,tw-2567531,Unknown,2925,Taipei,Taipei,TW,Taiwan,tw-712786406591111170,17,23,Wednesday,False,3301,0,0,49,Messaging on AWS - Fabrizio Branca http://fbrn...,Neutral,Italian
87823,tw-2385274356,Unknown,3852,Newton,Massachusetts,US-MA,United States,tw-715970237854654464,12,1,Friday,False,426,0,0,45,QA tools and services for #AWS testing differ ...,Neutral,English
13799,tw-4804671682,Male,1066,Stuttgart,Baden-Wuerttemberg Region,DE,Germany,tw-691558462627696640,2,25,Monday,False,8,1,0,18,Cheaper than I thought! http://calculator.s3.a...,Neutral,English
90120,tw-45168194,Male,3874,San Jose,California,US-CA,United States,tw-711004738997788672,19,18,Friday,True,66,16,0,28,RT @awscloud: Come hear from engineers at @spl...,Neutral,English
98088,tw-4546346374,Unisex,4271,Austin,Minnesota,US-MN,United States,tw-698556463590064129,10,13,Saturday,True,102,28,0,33,RT @imoyse: Cloud computing goes hybrid as the...,Neutral,English
22955,tw-3252439628,Male,1340,Ahmedabad,Gujarat,IN,India,tw-706513278810324992,9,6,Sunday,True,194,56,0,40,RT @awscloud: Test your iOS Android &amp; web ...,Positive,English
67913,tw-17061861,Male,3753,San Francisco,California,US-CA,United States,tw-684904794415206400,18,6,Wednesday,True,447,1,0,41,RT @r_adams: New AWS region ap-northeast-2 jus...,Neutral,English

In [13]:
# Moving the text column to the right place
tweets_df = tweets_df[[col for col in tweets_df.columns if col != 'text'] + ['text']]
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,SentimentText,Language,text
77626,tw-181529097,Male,3776,Chicago,Illinois,US-IL,United States,tw-699621486143807492,8,16,Tuesday,True,126,7,0,24,Positive,English,RT @awscloud: Registration for #AWSSummit Chic...
87854,tw-3329482274,Male,3852,Newton,Massachusetts,US-MA,United States,tw-689152154913878016,11,18,Monday,True,45,1,0,35,Positive,English,RT @PariseauTT: New AWS pricing rolled out las...
36139,tw-4817897019,Male,2654,Barcelona,Catalonia,ES,Spain,tw-691680195347103746,10,25,Monday,False,3,0,0,19,Neutral,English,"""#AWS #Lambda Echo and the Future of #Cloud #a..."
11789,tw-632975884,Male,800,Paris,Ile-de-France,FR,France,tw-709733229205524480,7,15,Tuesday,False,63,0,0,23,Neutral,English,Hey @qwiklabs what labs do you recommand to tr...
2840,tw-393190958,Male,81,Melbourne,Victoria,AU-07,Australia,tw-710339328270934016,23,16,Wednesday,False,18950,0,0,30,Neutral,English,Amazon launches AWS Database Migration Service...
94149,tw-3224768913,Male,3971,Holly Springs,North Carolina,US-NC,United States,tw-704707522863742976,9,1,Tuesday,False,896,0,0,46,Neutral,English,"""#AWS Management Console makeover coming to a ..."
21526,tw-22878166,Male,1337,Noida,Uttar Pradesh,IN,India,tw-701699417083146241,2,22,Monday,False,559,0,0,38,Neutral,English,Ericsson forms alliance with Amazon Web Servic...
59182,tw-4719527682,Unisex,3751,Seattle,Washington,US-WA,United States,tw-694318439448576001,17,1,Monday,False,446,0,0,50,Neutral,English,Software Development Engineer In Test Aws Rela...
3277,tw-704593,Male,84,Newcastle,New South Wales,AU-02,Australia,tw-683423085358223360,16,2,Saturday,False,1229,1,0,54,Neutral,English,The AWS web interface is trying to teach you n...
4385,tw-4149001817,Unknown,287,Curitiba,Parana,BR,Brazil,tw-713425221789872130,12,25,Friday,False,26,0,0,27,Neutral,Portuguese,http://Muraldevagas.com procura Desenvolvedor ...

In [14]:
# Renaming the 'SentimentText' column to 'Sentiment' and 'Language' to 'Lang'
col_dict = {'IsReshare':'IsReshared', 'SentimentText': 'Sentiment', 'Language': 'Lang', 'text': 'Text'}
tweets_df = tweets_df.rename(columns=col_dict)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text
75697,tw-191945961,Male,3769,Berkeley,California,US-CA,United States,tw-710321922274304001,22,16,Wednesday,False,664,0,0,49,Negative,English,AWS DirectConnect charges multiple cents per g...
99534,tw-14436196,Male,4543,West Hartford,Connecticut,US-CT,United States,tw-702341873172660224,20,23,Tuesday,False,1508,0,0,43,Positive,English,IBM cloud launches Swift open-source AWS Lambd...
42276,tw-602115499,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-698088929141092352,3,12,Friday,True,67,30,0,20,Neutral,English,RT @mkoutloud: Netflix finishes its massive mi...
24157,tw-929084149,Unknown,1483,Yogyakarta,Daerah Istimewa Yogyakarta,ID,Indonesia,tw-706559422248517633,12,6,Sunday,False,237,0,0,47,Neutral,English,#python lambda_packages 0.1.1: AWS Lambda Pack...
21117,tw-55300235,Male,1336,Hyderabad,Andhra Pradesh,IN,India,tw-697557107286151173,16,10,Wednesday,False,525,0,0,49,Neutral,English,mashable: When the zombies rise Amazon Web Ser...
98712,tw-219488584,Male,4353,Rochester,Michigan,US-MI,United States,tw-684413816566886401,9,5,Tuesday,False,517,0,0,48,Neutral,English,It looks just like a cloud! Quick put an AWS L...
18386,tw-1167883052,Unisex,1329,Bangalore,Karnataka,IN,India,tw-705574068313960449,19,3,Thursday,True,36,28,0,19,Positive,English,RT @awscloud: Test your iOS Android &amp; web ...
93488,tw-2977190298,Unknown,3954,Santa Monica,California,US-CA,United States,tw-693933234808295428,16,31,Sunday,False,1256,0,0,50,Neutral,English,http://www.hero.jobs is #hiring Sr. Windows Sy...
26676,tw-25513487,Male,1650,Milano,Lombardy,IT,Italy,tw-702790600681099264,2,25,Thursday,False,418,0,0,27,Positive,English,AWS Acquires Italian SaaS Developer Nice to Ex...
41271,tw-168291950,Unknown,3019,London,Greater London,GB-GLA,United Kingdom,tw-690636739015213056,13,22,Friday,False,680,0,0,44,Neutral,English,Quantum Q-Cloud Protect Debuts on AWS Marketpl...

### <center>2. Data Querying</center>

In [15]:
# Q-1. Retrieve the total number of tweets in the dataset.
print(f"The no. of tweets in the dataset = {len(tweets_df)}.")

The no. of tweets in the dataset = 102062.

In [16]:
# Q-2. Find the number of distinct users (UserID) in the dataset.
print(f"The number of distinct users in the dataset = {tweets_df['UserID'].nunique()}.")

The number of distinct users in the dataset = 33212.

In [17]:
# Q-3. Calculate the average number of likes per tweet.
print(f"The average number of likes per tweet = {round(tweets_df['Likes'].mean(), 3)}.")

The average number of likes per tweet = 0.15.

In [18]:
# Q-4. Identify tweets where the sentiment is 'Positive.' Display the TweetID and sentiment.
positive_tweets_df = tweets_df[tweets_df['Sentiment'] == 'Positive'][['TweetID', 'Sentiment']]
positive_tweets_df

                      TweetID Sentiment
6       tw-714806305106604032  Positive
16      tw-705439172962742273  Positive
17      tw-685663098636791808  Positive
19      tw-699705067834834944  Positive
28      tw-710593048158281729  Positive
...                       ...       ...
102053  tw-683751716353912833  Positive
102054  tw-702581824921477120  Positive
102056  tw-693440798403268613  Positive
102057  tw-696378029526933504  Positive
102059  tw-709632884269785088  Positive

[27628 rows x 2 columns]

In [19]:
# Q-5. Count the number of tweets where IsReshare is true (1).
print(f"The number of tweets being reshared = {len(tweets_df[tweets_df['IsReshared'] == 1])}.")

The number of tweets being reshared = 36210.

In [20]:
# Q-6. List the top 5 users with the highest Reach. Display their UserID and Reach.
top_users_reach = tweets_df.nlargest(5, 'Reach')[['UserID', 'Reach']]
top_users_reach

            UserID     Reach
53032   tw-3108351  10342452
53079  tw-91478624   8196371
67044    tw-816653   6485485
67043    tw-816653   6482073
67042    tw-816653   6425442

In [21]:
# Q-7. Find the most common language (Lang) used in tweets.
print(f"The most common language used in tweets = {tweets_df['Lang'].mode()[0]}.")

The most common language used in tweets = English.

In [22]:
# Q-8. Determine the average Klout score for male (Gender = 'Male') users.
print(f"The average Klout score for male users = {round(tweets_df[tweets_df['Gender'] == 'Male']['Klout'].mean(), 3)}.")

The average Klout score for male users = 39.606.

In [23]:
# Q-9. Retrieve tweets posted on weekdays (Monday to Friday).
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday_tweets = tweets_df[tweets_df['Weekday'].isin(weekdays)]
weekday_tweets.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text
36913,tw-2347139724,Male,2677,Mlaga,Andalusia,ES,Spain,tw-697008174113693697,3,9,Tuesday,False,313,0,0,46,Positive,English,"""Amazon launch is own engine Lumberyard: #cpp ..."
45400,tw-14431299,Male,3024,Bath,Bath and North East Somerset,GB-A4,United Kingdom,tw-715068277433745408,0,30,Wednesday,True,306,33,0,39,Neutral,English,RT @awscloud: AWS CloudFormation adds change s...
51950,tw-461870846,Unknown,3738,New York City,New York,US-NY,United States,tw-687421397455519750,16,13,Wednesday,False,231,0,0,32,Neutral,English,AWS Now Gives A Discount To Developers Who Res...
101034,tw-3922921,Male,5573,Montara,California,US-CA,United States,tw-687836533106159617,20,14,Thursday,False,10013,1,0,58,Positive,English,@designoutloud someday I'll share how I couldn...
53472,tw-2983147266,Male,3739,Washington Â D. C.,Washington Â D.C.,US-DC,United States,tw-700346144031969280,8,18,Thursday,True,1384,22,0,43,Neutral,English,RT @jeffbarr: Good News - US Veterans Now Elig...
50157,tw-904855351,Male,3737,Newport Beach,California,US-CA,United States,tw-692884924936773634,18,28,Thursday,False,56,1,0,25,Neutral,English,We are hiring: Software Engineer - AWS Continu...
65393,tw-770309118,Male,3753,San Francisco,California,US-CA,United States,tw-715599608282529793,12,31,Thursday,False,5267,0,0,53,Positive,English,Studying for the #AWS Certified SysOps exam? W...
96703,tw-8186502,Male,4122,West Hollywood,California,US-CA,United States,tw-710169156008734723,12,16,Wednesday,True,72,5,0,26,Neutral,English,RT @47lining: Mick Bass 47Lining CEO talks hyb...
32406,tw-462875276,Unknown,2299,Espaa,Mimaropa,PH,Philippines,tw-705083203707641857,10,2,Wednesday,True,71,1,0,30,Neutral,English,"""RT @dabarsm: Multi-speed IT and the Hybrid Cl..."
24256,tw-2456451750,Unknown,1483,Yogyakarta,Daerah Istimewa Yogyakarta,ID,Indonesia,tw-685413994379644928,3,8,Friday,False,2870,0,0,46,Positive,English,AWS expands datacentre footprint in Apac: Clou...

In [24]:
# Q-10. Identify tweets with a Klout score greater than 50. Display the TweetID and Klout.
kloutScore50 = tweets_df[tweets_df['Klout'] > 50][['TweetID', 'Klout']]
kloutScore50.sample(frac=1).head(10)

                     TweetID  Klout
3688   tw-702852212075208704     57
30787  tw-706950669446545408     63
50766  tw-685009767450951680     60
2598   tw-683890386608193536     64
4342   tw-700079150988685312     52
90024  tw-714591382795587585     51
85147  tw-699677778044555264     54
6747   tw-706940669193891840     54
93626  tw-690300829589463040     51
96321  tw-693085074129063936     64

In [25]:
# Q-11. Count the number of tweets posted from the United States (Country = 'United States').
print(f"The no. of tweets from the United States = {len(tweets_df[tweets_df['Country'] == 'United States'])}.")

The no. of tweets from the United States = 51457.

In [26]:
# Q-12. List tweets with the highest number of retweets. Display the TweetID and RetweetCount.
retweet_count = tweets_df.nlargest(1, 'RetweetCount')[['TweetID', 'RetweetCount']]
print(f"The tweet ID {retweet_count['TweetID'].iloc[0]} has the highest number of retweets ({retweet_count['RetweetCount'].iloc[0]}).")

The tweet ID tw-700865627364392960 has the highest number of retweets (26127).

In [27]:
# Q-13. Find tweets with sentiment 'Negative' and Klout score less than 40.
negative_tweets_df = tweets_df[(tweets_df['Sentiment'] == 'Negative') & (tweets_df['Klout'] < 40)]
negative_tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text
633,tw-1366914511,Male,78,Brisbane,Queensland,AU-04,Australia,tw-683026257215262720,13,1,Friday,True,89,1,0,35,Negative,English,RT @swardley: ... 3/ Demand an Open Standard w...
55379,tw-51888337,Unknown,3742,Denver,Colorado,US-CO,United States,tw-688133062530482176,15,15,Friday,True,134,1,0,28,Negative,English,RT @PeteElton: #colocoalition#datacenter#Hybri...
101979,tw-701947241028841472,Unisex,6276,NA,NA,NA,Viet Nam,tw-709562782786531329,20,14,Monday,False,66,0,0,24,Negative,English,Summertime madness all that i enjoyed when i s...
28792,tw-125300769,Male,1826,Amman,Amman,JO,Jordan,tw-711571841329057792,9,20,Sunday,False,1150,0,0,37,Negative,English,"""More news about the #cloud war #Apple is movi..."
43938,tw-44398876,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-711981218682769409,12,21,Monday,False,17,0,0,12,Negative,English,#mailjet failjet more like. Has been like this...
81339,tw-18951629,Male,3800,Lexington,Kentucky,US-KY,United States,tw-685309420696383488,20,7,Thursday,True,460,22,0,0,Negative,English,RT @GrasswireNow: #BREAKING: Sacramento man ar...
22544,tw-4271629342,Female,1338,Pune,Maharashtra,IN,India,tw-711034164523376640,21,18,Friday,False,69,1,0,22,Negative,English,Meet @cloudITbetter to learn top mistakes to a...
67991,tw-73770410,Male,3753,San Francisco,California,US-CA,United States,tw-684163435291004929,17,4,Monday,False,133,0,0,23,Negative,English,mission critical applications running on a sin...
64521,tw-207611382,Unisex,3751,Seattle,Washington,US-WA,United States,tw-695125367590236161,23,3,Wednesday,False,26,0,0,16,Negative,English,@awscloud trying to use route 53 to get a site...
48063,tw-2828003726,Male,3086,Cheltenham,Gloucestershire,GB-E6,United Kingdom,tw-694826726078160896,3,3,Wednesday,False,50,0,0,33,Negative,English,@thorsheim It's a shame but even AWS don't sup...

In [28]:
# Q-14. Calculate the average Likes for tweets posted on weekends (Saturday and Sunday).
print(f"The average likes for tweets posted on weekends = {round(tweets_df[tweets_df['Weekday'].isin(['Saturday', 'Sunday'])]['Likes'].mean(), 3)}.")

The average likes for tweets posted on weekends = 0.114.

In [29]:
# Q-15. Retrieve tweets posted in the city of 'New York.'
new_york_tweets = tweets_df[tweets_df['City'].str.contains('New York')]
new_york_tweets.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text
50490,tw-1525490348,Female,3738,New York City,New York,US-NY,United States,tw-687394608435838978,15,13,Wednesday,False,877,1,0,50,Neutral,English,Apply Today - Full Stack Developer in New York...
52994,tw-84230491,Unisex,3738,New York City,New York,US-NY,United States,tw-699629128958525440,9,16,Tuesday,False,161,0,0,23,Positive,English,Need to look into more but seems awesome for s...
52666,tw-3252340153,Unisex,3738,New York City,New York,US-NY,United States,tw-707677961529516032,14,9,Wednesday,True,188,2,0,41,Neutral,English,RT @6px_io: [Course] Advanced High Availabilit...
51693,tw-3077534967,Unknown,3738,New York City,New York,US-NY,United States,tw-696816220503478272,15,8,Monday,True,1348,1,0,51,Negative,English,RT @dakoller: My @Quora answer to Would Amazon...
51631,tw-2963365588,Unisex,3738,New York City,New York,US-NY,United States,tw-715236784473374720,11,30,Wednesday,False,118,0,0,38,Neutral,English,Top NYC Tech Startup That just scored $50 Mill...
51410,tw-34503473,Male,3738,New York City,New York,US-NY,United States,tw-690531594067574784,6,22,Friday,True,693,4,0,41,Neutral,English,RT @mza: Sawmill designed to monitor the numbe...
52633,tw-292286168,Male,3738,New York City,New York,US-NY,United States,tw-706215167374270468,13,5,Saturday,False,271,0,0,40,Positive,English,@FilmProfessor9 @yusschr @NotaBubble just keep...
52043,tw-403054479,Male,3738,New York City,New York,US-NY,United States,tw-706861654122897408,8,7,Monday,False,1162,0,0,46,Positive,English,PCA in #Theano #GPU #NVidia #deeplearning #AWS...
51283,tw-12329592,Male,3738,New York City,New York,US-NY,United States,tw-715276225095340033,14,30,Wednesday,False,1319,0,0,59,Neutral,English,Amazon CloudWatch Events now sends events to A...
52526,tw-198981932,Male,3738,New York City,New York,US-NY,United States,tw-711890321249083392,6,21,Monday,True,121,44,0,22,Positive,English,RT @awscloud: #AWS #CloudFormation now support...

In [30]:
# Q-16. Identify tweets where Reach is greater than 1000. Display the TweetID and Reach.
thousand_reach = tweets_df[tweets_df['Reach'] > 1000][['TweetID', 'Reach']]
thousand_reach.sample(frac=1).head(10)

                     TweetID    Reach
12250  tw-711822569247260672     9759
12958  tw-687422425370365958    18024
56955  tw-709886611719323648    13953
77611  tw-691675546783191040     9283
11030  tw-698149710461333504     1461
67036  tw-687421658022428672  6096663
84592  tw-697389459806015488     4630
40962  tw-686557751519088641     6097
25482  tw-708993714799124480     3965
80956  tw-694174117566648320     3230

In [31]:
# Q-17. Find the user (UserID) with the highest total engagement (sum of RetweetCount and Likes).
tweets_df['TotalEngagement'] = tweets_df['RetweetCount'] + tweets_df['Likes']
print(f"The UserID {tweets_df['UserID'].iloc[tweets_df['TotalEngagement'].idxmax()]} has the highest engagement ({tweets_df['TotalEngagement'].max()}).")

The UserID tw-552279964 has the highest engagement (26127).

In [32]:
# Q-18. List tweets with sentiment 'Neutral' and Lang as 'English.'
engNeutralTweets = tweets_df[(tweets_df['Sentiment'] == 'Neutral') & (tweets_df['Lang'] == 'English')]
engNeutralTweets.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text,TotalEngagement
68184,tw-3614351,Male,3753,San Francisco,California,US-CA,United States,tw-704210156905627648,0,29,Monday,False,1206,0,0,51,Neutral,English,@adamjogrady AWS SES or SendGrid,0
89075,tw-4830708541,Unknown,3866,San Mateo,California,US-CA,United States,tw-712378517258801152,14,22,Tuesday,False,28,0,0,41,Neutral,English,#Apple Schmapple: Here's Why AWS Partners Aren...,0
50560,tw-4530376163,Unisex,3738,New York City,New York,US-NY,United States,tw-704762506905051136,13,1,Tuesday,False,739,1,0,51,Neutral,English,Software Aws Cloud Engineer Jobs in New York N...,1
34519,tw-2868544774,Male,2632,Centurion,Gauteng,ZA,South Africa,tw-697166842150965252,14,9,Tuesday,False,24,0,0,15,Neutral,English,AWS Retains Public Cloud Crown But Microsoft C...,0
91039,tw-16852635,Unknown,3888,Boulder,Colorado,US-CO,United States,tw-702907093037101060,10,25,Thursday,False,496,2,0,45,Neutral,English,Many of the largest financial institutions alr...,2
29682,tw-2691809750,Female,1940,Puebla,Baja California,MX,Mexico,tw-698015010417729536,22,11,Thursday,True,1340,79,0,40,Neutral,English,"""RT @AdrianRusso82: Our Innovation Lab is offi...",79
20327,tw-99902849,Unknown,1333,Chennai,Tamil Nadu,IN,India,tw-689367431672823808,1,19,Tuesday,False,77,0,0,24,Neutral,English,How I built a hack for tracking baby data usin...,0
89017,tw-4830764948,Unknown,3866,San Mateo,California,US-CA,United States,tw-710874731457556480,11,18,Friday,False,22,0,0,43,Neutral,English,#Apple ( $AAPL) working on secret Project McQu...,0
25493,tw-41818484,Male,1601,Dublin,Leinster,IE,Ireland,tw-710820917119741953,7,18,Friday,False,3964,0,0,41,Neutral,English,.@Veeam Backup to the #AWS Cloud Demo https://...,0
15739,tw-586887461,Unknown,1075,Duisburg,North Rhine-Westphalia,DE,Germany,tw-712947546453315584,4,24,Thursday,False,2356,3,0,56,Neutral,English,AWS IoT Real-time Stream Processing with Lambd...,3

In [33]:
# Q-19. Calculate the total engagement (sum of RetweetCount and Likes) for each tweet.
tweets_df['TotalEngagement'] = tweets_df['RetweetCount'] + tweets_df['Likes']
tweets_df[['TweetID', 'Text', 'TotalEngagement']].sample(frac=1).head(10)

,TweetID,Text,TotalEngagement
11288,tw-687194636360749056,RT @awscloud: New on the AWS Startup Blog: Sca...,28
99517,tw-685280582713106432,RT @pzf: Refugee Aws Mohammed Younis Al-Jayab ...,26
51609,tw-710200256512860160,@yusschr @7wtc @IBD_RKrause $AAPL just signed ...,1
75674,tw-697819336766005248,RT @Pogue: The Service Terms for Amazon Web Se...,102
26354,tw-690269598827057158,RT @pas256: Free SSL certs from AWS? Yes pleas...,3
78027,tw-697082827746181120,@jacobwilliams its got some unique Â offerings ...,0
96007,tw-700055177743724544,"""RT JobsCoding #RubyonRails Software Engineer....",0
63679,tw-709077975308902402,RT @azaru: AWS Lambda Microservices Architectu...,4
41409,tw-709880533933813760,AWS Database Migration Service | AWS Official ...,0
7783,tw-707062792239640577,RT @awscloud: Don't miss our 3/9 session: Migr...,12

In [34]:
# Q-20. Retrieve tweets with sentiment 'Positive' or 'Neutral' and Lang as 'English' or 'Spanish.'
requiredSentiments = ['Positive', 'Neutral']
requiredLanguages = ['English', 'Spanish']
tweets_df[(tweets_df['Sentiment'].isin(requiredSentiments)) & (tweets_df['Lang'].isin(requiredLanguages))].sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text,TotalEngagement
607,tw-15835430,Unknown,78,Brisbane,Queensland,AU-04,Australia,tw-682834217395421184,1,1,Friday,False,1082,0,0,51,Neutral,English,A AWS Certified Solutions Architect - Associat...,0
5486,tw-630477695,Female,295,Colorado,Parana,BR,Brazil,tw-702520653321150464,8,24,Wednesday,True,271,8,0,24,Neutral,English,RT @LouisColumbus: 15 Top Paying IT #Certifica...,8
7468,tw-3316009302,Male,611,Beijing,Beijing,CN,China,tw-691902976357699586,1,26,Tuesday,True,341,10,0,43,Positive,English,RT @awscloud: How @TimeInc leveraged #AWS #Sup...,10
79741,tw-783777728,Male,3786,Los Angeles,California,US-CA,United States,tw-708014138463621120,12,10,Thursday,True,521,8,0,24,Neutral,English,"""RT @solidstatelogic: Learn to pilot an AWS at...",8
58211,tw-289094642,Female,3751,Seattle,Washington,US-WA,United States,tw-689955594531426305,16,20,Wednesday,False,75,0,0,29,Neutral,English,We are hiring: Software Development Manager - ...,0
43687,tw-5815492,Unknown,3019,London,Greater London,GB-GLA,United Kingdom,tw-696684264763559938,6,8,Monday,False,387,0,0,44,Neutral,English,Radio silence on https://aws.amazon.com/blogs/...,0
9286,tw-260451551,Male,761,Helsinki,Southern Finland Province,FI,Finland,tw-710028449797251072,3,16,Wednesday,True,101,2,0,22,Neutral,English,RT @GheRivero: Dropbox ditches AWS and Go for ...,2
44056,tw-3557042594,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-683285797206757380,6,2,Saturday,False,564,0,0,43,Positive,English,@stylinsonphones aws ok . Can i have a favor?,0
74623,tw-2165203542,Female,3766,Boston,Massachusetts,US-MA,United States,tw-709779352838389760,10,15,Tuesday,True,1282,1,0,52,Neutral,English,RT @data_nerd: Amazon Web Services Turns Ten Y...,1
73461,tw-1636340558,Male,3764,Portland,Oregon,US-OR,United States,tw-702229714094551040,13,23,Tuesday,True,20537,3,0,50,Positive,English,RT @WTBunting: .@Philips &amp; .@Amazon to col...,3

### <center>Thank you.</center>