### <center>1. Data Importing & Preprocessing</center>

In [1]:
import pandas as pd
tweets_df = pd.read_csv('tweets-engagement-metrics.csv')
tweets_df.sample(frac=1).head(10)

,Unnamed: 0,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
90288,90288,tw-210259272,Unknown,3874.0,San Jose,California,US-CA,United States,tw-702592631654608896,13,24,Wednesday,False,5143.0,0.0,0.0,39.0,0.25,en,Sorry Amazon: Spotify chooses Google over AWS ...
87484,87484,tw-2385274356,Unknown,3852.0,Newton,Massachusetts,US-MA,United States,tw-700787442811408385,14,19,Friday,False,397.0,0.0,0.0,45.0,0.00,en,Build and deploy apps faster with a DevOps pro...
60537,60537,tw-509089629,Male,3751.0,Seattle,Washington,US-WA,United States,tw-710869149048647680,10,18,Friday,False,16495.0,0.0,0.0,50.0,0.00,en,AWS Marketplace announces new AWS Marketplace ...
50623,50623,tw-60754146,Unknown,3738.0,New York City,New York,US-NY,United States,tw-708696588479148032,9,12,Saturday,False,8743.0,0.0,0.0,64.0,0.32,fr,@DavidNeubauer88 @DLudwigMusic Yah fantastic i...
77011,77011,tw-15177712,Male,3776.0,Chicago,Illinois,US-IL,United States,tw-705875072104267776,14,4,Friday,True,2242.0,3.0,0.0,56.0,0.00,en,RT @cloudability: Is your #AWS cloud instance ...
40096,40096,tw-3430582660,Male,3018.0,Gotham,Nottinghamshire,GB-J9,United Kingdom,tw-684193594157219840,19,4,Monday,False,390.0,0.0,0.0,58.0,0.00,en,For Batman throughput and network caps are cru...
37991,37991,tw-23606701,Male,2925.0,Taipei,Taipei,TW,Taiwan,tw-704587690335834112,1,1,Tuesday,False,216.0,0.0,0.0,41.0,0.00,en,"""GraphQL for AWS DynamoDB!https://github.com/s..."
36041,36041,tw-1343285220,Male,2654.0,Barcelona,Catalonia,ES,Spain,tw-692245859170410497,0,27,Wednesday,True,45.0,21.0,0.0,36.0,0.00,en,RT @nixcraft: Distributed website load testing...
59760,59760,tw-66780587,Unknown,3751.0,Seattle,Washington,US-WA,United States,tw-692134963974688768,17,26,Tuesday,False,472188.0,5.0,15.0,71.0,0.00,en,Using #AWS @edotcoGroup reduced infrastructure...
93942,93942,tw-792268718,Male,3966.0,Columbia,Maryland,US-MD,United States,tw-698340878612561920,20,12,Friday,False,141.0,0.0,0.0,36.0,0.00,en,AWS Systems Architect - Annapolis Junction MD ...

In [2]:
# Columns of the dataset
print(tweets_df.columns.to_list())

['Unnamed: 0', 'UserID', 'Gender', 'LocationID', 'City', 'State', 'StateCode', 'Country', 'TweetID', 'Hour', 'Day', 'Weekday', 'IsReshare', 'Reach', 'RetweetCount', 'Likes', 'Klout', 'Sentiment', 'Lang', 'text']

In [3]:
# Removing the unrequired columns
tweets_df.drop(tweets_df.columns.to_list()[0], axis=1, inplace=True)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
26529,tw-3387054695,Unknown,1643.0,NaN,NaN,NaN,Israel,tw-688646652157100032,1,17,Sunday,False,179.0,1.0,0.0,42.0,1.0,en,Running @Docker on @awscloud? Join our webinar...
7472,tw-3316009302,Male,611.0,Beijing,Beijing,CN,China,tw-692084192633606144,13,26,Tuesday,True,338.0,16.0,0.0,43.0,0.0,en,RT @awscloud: How to add DNS filtering to your...
28627,tw-113979956,Male,1792.0,Kyoto,Kyoto,JP,Japan,tw-707453855651524608,23,8,Tuesday,True,2234.0,4.0,0.0,43.0,0.0,ja,"""RT @awscloud_jp: AWS CodeCommit #jawsughttp..."
30947,tw-78035396,Male,2117.0,Harderwijk,Gelderland,NL,Netherlands,tw-692071350920462336,12,26,Tuesday,True,60.0,17.0,0.0,22.0,0.0,en,RT @Oracle: #Oracle Mounts Challenge to AWS in...
33212,tw-126601155,Male,2432.0,Warsaw,Masovian Voivodeship,PL,Poland,tw-696966798223265792,1,9,Tuesday,False,994.0,0.0,0.0,45.0,0.0,en,Finally my @JVM_bloggers has Administration Pa...
43106,tw-4278215907,Male,3019.0,London,Greater London,GB-GLA,United Kingdom,tw-699805511479377921,21,16,Tuesday,False,29.0,0.0,0.0,31.0,3.0,en,Three Reasons AWS Just Bought Italian SaaS Fir...
86686,tw-48443,Male,3848.0,Sammamish,Washington,US-WA,United States,tw-698637015873523712,15,13,Saturday,True,40442.0,3.0,0.0,65.0,0.0,en,"""RT @BotmetricHQ: [New on @BotmetricHQ blog]Ac..."
13293,tw-183977468,Male,1065.0,Munich,Bavaria,DE,Germany,tw-709623352068075521,0,15,Tuesday,True,290.0,29.0,0.0,41.0,0.0,en,RT @awscloud: AWS Lambda is now available in o...
35566,tw-368916632,Unknown,2650.0,Madrid,Madrid,ES,Spain,tw-709880857843126272,17,15,Tuesday,True,136.0,2.0,0.0,40.0,0.0,en,"""RT @APPSRUNTHEWORLD: Cloud (IaaS PaaS SaaS) P..."
97892,tw-2915777456,Male,4251.0,Omaha,Nebraska,US-NE,United States,tw-714907893619929092,14,29,Tuesday,False,16.0,0.0,0.0,17.0,0.0,en,I added a video to a @YouTube playlist https:/...

In [4]:
# Checking the null values
tweets_df.isnull().sum()

UserID             0
Gender             0
LocationID         0
City            2279
State           1897
StateCode       1726
Country            0
TweetID            0
Hour               0
Day                0
Weekday            0
IsReshare          0
Reach              0
RetweetCount       0
Likes              0
Klout              0
Sentiment          0
Lang               0
text               0
dtype: int64

In [5]:
# Filling the null values in the dataframe
tweets_df.fillna('NA', axis = 1, inplace = True)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
94050,tw-24215049,Male,3969.0,NA,Washington D.C.,US-DC,United States,tw-700763998409523200,12,19,Friday,False,450.0,0.0,0.0,41.0,0.0,en,We're #hiring! Read about our latest #job open...
9385,tw-46914648,Male,764.0,Espoo,Southern Finland Province,FI,Finland,tw-687326590414516224,10,13,Wednesday,True,43.0,52.0,0.0,20.0,0.0,en,RT @jeffbarr: New - Slack Integration Blueprin...
16428,tw-11060982,Female,1101.0,Hannover,Lower Saxony,DE,Germany,tw-697471834296623106,10,10,Wednesday,False,103780.0,4.0,0.0,75.0,0.0,de,Cloud Functions: Google launcht heimlich Konku...
57077,tw-14271115,Male,3749.0,Richmond,Virginia,US-VA,United States,tw-685523254774202368,11,8,Friday,False,283.0,0.0,0.0,36.0,0.0,en,@frankwu55 uptime is table stakes. most tellin...
90894,tw-2841185483,Unknown,3887.0,Burlington,Massachusetts,US-MA,United States,tw-702174698059206657,9,23,Tuesday,False,370.0,0.0,0.0,43.0,1.0,en,News item: #VMware &amp; IBM team up to move y...
51195,tw-12329592,Male,3738.0,New York City,New York,US-NY,United States,tw-710241370557063169,17,16,Wednesday,False,1312.0,0.0,0.0,58.0,0.0,en,Dive deep into Amazon EC2 during our AWS EC2 M...
36034,tw-1343285220,Unknown,2654.0,Barcelona,Catalonia,ES,Spain,tw-702033833689014273,0,23,Tuesday,True,52.0,1.0,0.0,34.0,0.0,en,RT @serverdensity: Rolling Update with AWS Clo...
52807,tw-390469886,Male,3738.0,New York City,New York,US-NY,United States,tw-684899970365976577,17,6,Wednesday,True,226.0,1.0,0.0,30.0,-2.0,en,RT @PatonCrispy: For anyone messing around wit...
47541,tw-1722831672,Unknown,3060.0,Fareham,Hampshire,GB-F2,United Kingdom,tw-710539725631787008,12,17,Thursday,False,630.0,0.0,0.0,53.0,1.0,en,"""Want to learn more about the CIS #AWS Foundat..."
92041,tw-4069316944,Female,3913.0,London,California,US-CA,United States,tw-710214877432909825,15,16,Wednesday,True,345.0,1.0,0.0,44.0,3.0,en,RT @JohnLRattray: AWS's grand plan: It'll slur...

In [6]:
# Checking the duplicated values in the dataframe
tweets_df.nunique()

UserID          33212
Gender              4
LocationID       4309
City             3802
State            1009
StateCode         358
Country           151
TweetID         99999
Hour               24
Day                31
Weekday             7
IsReshare           2
Reach           12473
RetweetCount      478
Likes              87
Klout              84
Sentiment         309
Lang               36
text            70267
dtype: int64

In [7]:
# Datatypes of the columns in the dataframe
tweets_df.dtypes

UserID          object
Gender          object
LocationID      object
City            object
State           object
StateCode       object
Country         object
TweetID         object
Hour            object
Day             object
Weekday         object
IsReshare       object
Reach           object
RetweetCount    object
Likes           object
Klout           object
Sentiment       object
Lang            object
text            object
dtype: object

In [8]:
# Changing the datatypes of the columns in the dataframe
tweets_df[['LocationID', 'Reach', 'RetweetCount', 'Likes', 'Klout']] = tweets_df[['LocationID', 'Reach', 'RetweetCount', 'Likes', 'Klout']].astype(int)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
85378,tw-439668414,Female,3840,Vancouver,Washington,US-WA,United States,tw-690863363585286145,4,23,Saturday,False,1160,0,0,41,0.0,en,Software Development Engineer - AWS Messaging:...
86371,tw-207649305,Unisex,3845,Salt Lake City,Utah,US-UT,United States,tw-709526328886726656,17,14,Monday,True,48,19,0,28,0.5,en,"""RT @SwiftOnSecurity: 10 years of utterly terr..."
75358,tw-142430410,Male,3768,Cambridge,Massachusetts,US-MA,United States,tw-698672345288982528,17,13,Saturday,True,40,7,0,27,0.0,en,RT @jeffbarr: Event Enabling The Internet Of T...
13893,tw-1538354196,Male,1066,Stuttgart,Baden-Wuerttemberg Region,DE,Germany,tw-711133077163081728,4,19,Saturday,False,2148,0,0,45,0.0,de,Amazon Web Services in Action: Neues AWS-Buch ...
66719,tw-204010968,Male,3753,San Francisco,California,US-CA,United States,tw-695786064829665280,18,5,Friday,False,867,2,0,44,0.0,en,AWS puts messaging platform WorkMail into GA h...
17685,tw-125188351,Male,1329,Bangalore,Karnataka,IN,India,tw-701804691080945664,9,22,Monday,False,104,0,0,38,2.0,en,IBM cloud launches Swift runtime open-source A...
72667,tw-503332237,Unknown,3764,Portland,Oregon,US-OR,United States,tw-694323065442795520,17,1,Monday,False,410,0,0,40,0.0,en,Reduce #MySQL import cost by copying database ...
23132,tw-18483274,Unknown,1341,Delhi,NCT,IN,India,tw-699584271992795137,6,16,Tuesday,False,882,0,0,33,2.25,en,Excited about Cloud and India Startup &amp; VC...
44760,tw-2853648268,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-697077553748643842,8,9,Tuesday,False,490,1,0,48,0.0,en,#AWS Announces New Set Of Integrated Services ...
45833,tw-2225176735,Unknown,3028,Leeds,City and Borough of Leeds,GB-H3,United Kingdom,tw-691770257803972608,16,25,Monday,True,5209,2,0,53,0.0,en,RT @Leeds_Jobs_UK: #LeedsJobs Infrastructure E...

In [9]:
# Classifying the sentiment as per the values in the dataframe.
classifySentiment = lambda x: 'Neutral' if x == 0 else ('Positive' if x > 0 else 'Negative')
tweets_df['SentimentText'] = tweets_df['Sentiment'].apply(classifySentiment)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,SentimentText
43521,tw-75867801,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-689050367246635008,4,18,Monday,False,151,0,0,23,2.0,en,Hello @cloudability from what I can tell you s...,Positive
98919,tw-55109714,Male,4386,Portland,Maine,US-ME,United States,tw-713400314070769664,10,25,Friday,False,887,0,0,44,0.0,en,Get AWS Engineer Certification Bundle - Ace th...,Neutral
99473,tw-8052052,Male,4525,San Bruno,California,US-CA,United States,tw-695433461016821761,19,4,Thursday,False,234,0,0,25,1.0,en,What's the easiest way to share internal proje...,Positive
8539,tw-414244352,Male,677,Zagreb,Grad Zagreb,HR,Croatia,tw-686499749294387200,3,11,Monday,False,229,0,0,44,0.0,_u,@bnethr Ekipa pola linkova vam ne radi od rana...,Neutral
70667,tw-31204382,Male,3758,Philadelphia,Pennsylvania,US-PA,United States,tw-707223369653981187,8,8,Tuesday,False,1222,0,0,43,0.0,en,We're #hiring! #Software / Data Engineer - #Py...,Neutral
4777,tw-82221860,Unknown,289,So Paulo,Sao Paulo,BR,Brazil,tw-702500088778723328,7,24,Wednesday,True,69,9,0,33,0.0,en,RT @awscloud: New in the @AWSMarketplace: depl...,Neutral
18851,tw-527421805,Unknown,1332,Mumbai,Maharashtra,IN,India,tw-684840866653941760,13,6,Wednesday,False,259,0,0,42,0.0,en,From Monolith to Microservices Part 1: AWS La...,Neutral
82582,tw-3970791621,Female,3815,England,Arkansas,US-AR,United States,tw-698146454968410112,7,12,Friday,False,26,0,0,27,0.0,_u,#LoveWhatYouDo #LoveWhatYouCode #careersintech...,Neutral
48842,tw-352174732,Unknown,3135,Leicester,City of Leicester,GB-H4,United Kingdom,tw-707248850575106049,9,8,Tuesday,True,232,1,0,32,0.0,en,RT @GRPrasad: How to Automate Restricting Acce...,Neutral
87189,tw-23556061,Female,3851,Sacramento,California,US-CA,United States,tw-710621838007603200,18,17,Thursday,True,5450,5,0,48,0.5,en,RT @AdrienneMooreTV: Aws Mohammed Younis Al-Ja...,Positive

In [10]:
# Checking the unique languages
print(list(tweets_df['Lang'].unique()))

['en', 'es', '_u', 'pt', 'in', 'it', 'fr', 'ro', 'da', 'zh', 'ko', 'tl', 'de', 'ja', 'ru', 'nl', 'hu', 'cy', 'km', 'ar', 'cs', 'ht', 'fi', 'et', 'no', 'pl', 'eu', 'lv', 'sv', 'tr', 'hi', 'iw', 'lt', 'sl', 'uk', 'th']

In [11]:
# Getting the respective languages as per the 'Lang' codes in the dataframe
lang_codes = {'en': 'English', 'es': 'Spanish', '_u': 'Undetermined', 'pt': 'Portuguese', 'in': 'Indonesian', 'it': 'Italian', 'fr': 'French', 'ro': 'Romanian', 'da': 'Danish', 'zh': 'Chinese', 'ko': 'Korean', 'tl': 'Tagalog', 'de': 'German', 'ja': 'Japanese', 'ru': 'Russian', 'nl': 'Dutch', 'hu': 'Hungarian', 'cy': 'Welsh', 'km': 'Khmer', 'ar': 'Arabic', 'cs': 'Czech', 'ht': 'Haitian Creole', 'fi': 'Finnish', 'et': 'Estonian', 'no': 'Norwegian', 'pl': 'Polish', 'eu': 'Basque', 'lv': 'Latvian', 'sv': 'Swedish', 'tr': 'Turkish', 'hi': 'Hindi', 'iw': 'Hebrew', 'lt': 'Lithuanian', 'sl': 'Slovenian', 'uk': 'Ukrainian', 'th': 'Thai'}
tweets_df['Language'] = tweets_df['Lang'].map(lang_codes)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,...,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,SentimentText,Language
89362,tw-2331101394,Unisex,3873,Brooklyn,New York,US-NY,United States,tw-715040914796855297,23,29,...,False,594,0,0,44,0.0,en,#Job #Brooklyn Senior/Lead Full-Stack Develope...,Neutral,English
92926,tw-57859591,Female,3934,Madison,Wisconsin,US-WI,United States,tw-706629649757921280,16,6,...,False,664,4,0,47,-2.0,en,Getting my hands dirty on #DynamoDB for #AWSIo...,Negative,English
95412,tw-23081953,Male,4035,Italy,Texas,US-TX,United States,tw-690593277712687104,10,22,...,True,312,21,0,36,4.0,en,RT @nudehaberdasher: Think you are awesome at ...,Positive,English
55505,tw-44697155,Unisex,3742,Denver,Colorado,US-CO,United States,tw-713719034827571208,7,26,...,False,127,0,0,22,0.0,en,@alanc right behind it is the horrid design of...,Neutral,English
95998,tw-3318013381,Female,4059,Oak Grove,Kentucky,US-KY,United States,tw-697511829434691584,13,10,...,False,1559,1,0,61,0.0,en,RT IoTeacher Pushing sensor data onto AWS from...,Neutral,English
42723,tw-3222041,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-712544703762284545,1,23,...,False,1170,0,0,51,1.0,en,I am the only one who thinks all this people w...,Positive,English
36826,tw-4196571,Male,2672,Badalona,Catalonia,ES,Spain,tw-706777585842307072,2,7,...,True,220,2,0,47,-0.6,es,RT @ciberado: Una recopilacin de tips bsicos p...,Negative,Spanish
78053,tw-14413544,Male,3776,Chicago,Illinois,US-IL,United States,tw-702174254784118784,9,23,...,False,1930,0,0,50,1.0,en,Amazon web services takes aim at big banks htt...,Positive,English
41775,tw-14456191,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-698074151978926080,2,12,...,False,1528,2,0,49,-2.0,en,@bashtoni @omphe @garethr Huh this was based o...,Negative,English
82049,tw-179693626,Male,3814,Baltimore,Maryland,US-MD,United States,tw-709832953111683073,14,15,...,True,1145,5,0,47,2.0,en,RT @awscloud: AWS CloudFormation now supports ...,Positive,English

In [12]:
# Removing the 'Lang' & 'Sentiment' columns
tweets_df.drop(['Lang', 'Sentiment'], axis=1, inplace=True)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,text,SentimentText,Language
63827,tw-10415712,Male,3751,Seattle,Washington,US-WA,United States,tw-709436190647128065,11,14,Monday,False,34703,1,0,63,First public post on AWS Forums introducing En...,Neutral,English
15588,tw-586887461,Unknown,1075,Duisburg,North Rhine-Westphalia,DE,Germany,tw-707654229494734849,12,9,Wednesday,False,2245,0,0,56,awscloud: RT SandraSchaedel: Calling all #Star...,Positive,English
90581,tw-16955487,Male,3886,Oakland,California,US-CA,United States,tw-709412335421624320,10,14,Monday,False,2495,0,0,59,Ten Years in the AWS Cloud How Time Flies! | ...,Neutral,English
65236,tw-770309118,Male,3753,San Francisco,California,US-CA,United States,tw-688801432565342208,12,17,Sunday,True,5001,5,0,54,RT @leonardofed: If youre thinking about getti...,Positive,English
42789,tw-220619921,Unknown,3019,London,Greater London,GB-GLA,United Kingdom,tw-705048818186719237,8,2,Wednesday,False,289,1,0,34,Seeing is believing w/Hyperglance 4.0! Announc...,Positive,English
101394,tw-706213798898610176,Female,5930,National City,California,US-CA,United States,tw-712390065654091776,15,22,Tuesday,True,256,1,0,42,RT @xOverwatchSmoak: @KaraNotKerah AWS y te vu...,Neutral,Spanish
37079,tw-2871401059,Unknown,2714,Murcia,Murcia,ES,Spain,tw-711971798422851584,11,21,Monday,True,624,1,0,41,RT @MERCADODOVIDRO: Google se junta ao Faceboo...,Neutral,Portuguese
77869,tw-6161632,Unisex,3776,Chicago,Illinois,US-IL,United States,tw-690270301226020864,13,21,Thursday,True,146,28,0,28,RT @awscloud: Now easily provision manage &amp...,Neutral,English
95054,tw-76055799,Female,4001,Fort Worth,Texas,US-TX,United States,tw-712339861219446789,12,22,Tuesday,False,118,0,0,30,Looking for a CLOUD Architect - AWS in Chicago...,Neutral,English
97627,tw-3485697012,Unisex,4221,Tucson,Arizona,US-AZ,United States,tw-709412101442445312,10,14,Monday,False,23,0,0,17,Happy pi day from the AWS!,Positive,English

In [13]:
# Moving the text column to the right place
tweets_df = tweets_df[[col for col in tweets_df.columns if col != 'text'] + ['text']]
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,SentimentText,Language,text
40562,tw-364204462,Male,3019,London,Greater London,GB-GLA,United Kingdom,tw-707724912954384384,17,9,Wednesday,False,4493,0,0,65,Neutral,English,Using Enhanced RDS Monitoring with Datadog htt...
5808,tw-366485941,Male,451,Sofia,Sofia-Capital,BG,Bulgaria,tw-703628472929878016,10,27,Saturday,True,55,485,0,24,Neutral,English,RT @timbray: Major upgrade to the AWS Terms of...
1323,tw-2881784192,Male,80,Sydney,New South Wales,AU-02,Australia,tw-707351941429350400,16,8,Tuesday,True,40,6,0,29,Neutral,English,RT @awscloud: Stay ITAR &amp; FedRAMP complian...
228,tw-14119614,Male,14,Buenos Aires,Buenos Aires F.D.,AR,Argentina,tw-684979783260868609,23,6,Wednesday,True,504,36,0,44,Neutral,English,RT @Werner: Expanding the Cloud: Introducing t...
76909,tw-330555324,Unknown,3776,Chicago,Illinois,US-IL,United States,tw-708278196458762240,6,11,Friday,False,41158,0,0,42,Positive,English,Why AWS dominates the cloud servicesmarket htt...
75059,tw-95320265,Male,3766,Boston,Massachusetts,US-MA,United States,tw-712395234890547200,15,22,Tuesday,False,216,0,0,28,Neutral,English,Amazon Web Services https://xebialabs.com/solu...
42519,tw-1527289544,Unknown,3019,London,Greater London,GB-GLA,United Kingdom,tw-697308495977144320,23,9,Tuesday,False,216,0,0,44,Neutral,English,Google Launches Cloud Functions an AWS Lambda ...
42479,tw-3331326772,Female,3019,London,Greater London,GB-GLA,United Kingdom,tw-686701632172756992,17,11,Monday,False,12,0,0,29,Negative,English,Google Says Its Cloud Prices Are Lower Even Af...
89238,tw-23195146,Male,3873,Brooklyn,New York,US-NY,United States,tw-685525770727518208,11,8,Friday,False,591,0,0,0,Positive,English,so if i want to move from shared web hosting t...
79279,tw-17750153,Male,3786,Los Angeles,California,US-CA,United States,tw-700844942197805056,17,19,Friday,False,254,0,0,36,Neutral,English,Protip: AWS Elasticache's Redis Cluster is in ...

In [14]:
# Renaming the 'SentimentText' column to 'Sentiment' and 'Language' to 'Lang'
col_dict = {'IsReshare':'IsReshared', 'SentimentText': 'Sentiment', 'Language': 'Lang', 'text': 'Text'}
tweets_df = tweets_df.rename(columns=col_dict)
tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text
25903,tw-4023999209,Male,1603,Donegal,Ulster,IE,Ireland,tw-686898093581713408,6,12,Tuesday,False,275,0,0,45,Neutral,English,Manage the #AWS cloud on your schedule. Automa...
85849,tw-14422050,Unknown,3844,NA,Texas,US-TX,United States,tw-689892750221713418,12,20,Wednesday,False,328,0,0,43,Neutral,English,@awscloud Dominates In Gartner's '2015 Critica...
96464,tw-45490306,Female,4098,Hingham,Massachusetts,US-MA,United States,tw-705211612391677952,19,2,Wednesday,True,1063,1,0,37,Neutral,English,RT @thaumaturgix: Are you managing your #AWS E...
51089,tw-12329592,Male,3738,New York City,New York,US-NY,United States,tw-704398412809170944,13,29,Monday,False,1308,0,0,60,Neutral,English,Amazon CloudWatch Events now available in our ...
64025,tw-604139581,Female,3751,Seattle,Washington,US-WA,United States,tw-687890505934307328,23,14,Thursday,True,28,1,0,23,Neutral,English,RT @0ptimiza: AWS::CloudFormation::Interface d...
32822,tw-195712486,Male,2309,Goa,Bicol,PH,Philippines,tw-688991482229829632,0,18,Monday,False,360,0,0,38,Neutral,English,@prakharsriv9 I worked on Cuda 4.5 for about 5...
9109,tw-14101261,Male,761,Helsinki,Southern Finland Province,FI,Finland,tw-688857529615536130,15,17,Sunday,False,814,0,0,42,Negative,English,Some bad experiences with AWS Glacier. I think...
18417,tw-15855253,Female,1329,Bangalore,Karnataka,IN,India,tw-687268002614624257,6,13,Wednesday,False,3840,0,0,30,Neutral,English,Install #Amazon #EC2 #api tools on Ubuntu Linu...
3717,tw-10245752,Male,183,Vienna,Vienna,AT,Austria,tw-710847377364668416,9,18,Friday,False,486,0,0,52,Positive,English,"""oh the joy of AWS. but why always us?!the und..."
23973,tw-121166219,Male,1465,Panaji,Goa,IN,India,tw-714699872490942465,0,29,Tuesday,True,82,365,0,19,Positive,English,RT @awscloud: Test your iOS Android &amp; web ...

### <center>2. Data Querying</center>

In [15]:
# Q-1. Retrieve the total number of tweets in the dataset.
print(f"The no. of tweets in the dataset = {len(tweets_df)}.")

The no. of tweets in the dataset = 102062.

In [16]:
# Q-2. Find the number of distinct users (UserID) in the dataset.
print(f"The number of distinct users in the dataset = {tweets_df['UserID'].nunique()}.")

The number of distinct users in the dataset = 33212.

In [17]:
# Q-3. Calculate the average number of likes per tweet.
print(f"The average number of likes per tweet = {round(tweets_df['Likes'].mean(), 3)}.")

The average number of likes per tweet = 0.15.

In [18]:
# Q-4. Identify tweets where the sentiment is 'Positive.' Display the TweetID and sentiment.
positive_tweets_df = tweets_df[tweets_df['Sentiment'] == 'Positive'][['TweetID', 'Sentiment']]
positive_tweets_df

                      TweetID Sentiment
6       tw-714806305106604032  Positive
16      tw-705439172962742273  Positive
17      tw-685663098636791808  Positive
19      tw-699705067834834944  Positive
28      tw-710593048158281729  Positive
...                       ...       ...
102053  tw-683751716353912833  Positive
102054  tw-702581824921477120  Positive
102056  tw-693440798403268613  Positive
102057  tw-696378029526933504  Positive
102059  tw-709632884269785088  Positive

[27628 rows x 2 columns]

In [19]:
# Q-5. Count the number of tweets where IsReshare is true (1).
print(f"The number of tweets being reshared = {len(tweets_df[tweets_df['IsReshared'] == 1])}.")

The number of tweets being reshared = 36210.

In [20]:
# Q-6. List the top 5 users with the highest Reach. Display their UserID and Reach.
top_users_reach = tweets_df.nlargest(5, 'Reach')[['UserID', 'Reach']]
top_users_reach

            UserID     Reach
53032   tw-3108351  10342452
53079  tw-91478624   8196371
67044    tw-816653   6485485
67043    tw-816653   6482073
67042    tw-816653   6425442

In [21]:
# Q-7. Find the most common language (Lang) used in tweets.
print(f"The most common language used in tweets = {tweets_df['Lang'].mode()[0]}.")

The most common language used in tweets = English.

In [22]:
# Q-8. Determine the average Klout score for male (Gender = 'Male') users.
print(f"The average Klout score for male users = {round(tweets_df[tweets_df['Gender'] == 'Male']['Klout'].mean(), 3)}.")

The average Klout score for male users = 39.606.

In [23]:
# Q-9. Retrieve tweets posted on weekdays (Monday to Friday).
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday_tweets = tweets_df[tweets_df['Weekday'].isin(weekdays)]
weekday_tweets.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text
77877,tw-20747614,Unknown,3776,Chicago,Illinois,US-IL,United States,tw-692723550210273281,7,28,Thursday,False,463,0,0,37,Positive,English,Density in buildings is increasing with altern...
101422,tw-493575013,Female,6063,Nome,Alaska,US-AK,United States,tw-687423607421689857,16,13,Wednesday,False,496,0,0,42,Positive,English,Amazon AWS to go head to head with Microsoft A...
69271,tw-59264763,Male,3754,Houston,Texas,US-TX,United States,tw-690341151702937601,18,21,Thursday,False,1532,0,0,52,Neutral,English,SimpliVity Takes Aim At @awscloud Claims #Hyp...
61358,tw-34090727,Male,3751,Seattle,Washington,US-WA,United States,tw-709631383501574145,0,15,Tuesday,True,105,44,0,22,Positive,English,RT @awscloud: Celebrating 10 years of #AWS: ht...
48479,tw-151413070,Female,3109,Halstead,Kent,GB-G5,United Kingdom,tw-695465145447747584,21,4,Thursday,False,108,1,0,29,Positive,English,#HalsteadJobs Linux Engineer - Dev-Ops Cloud A...
10297,tw-105163529,Male,800,Paris,Ile-de-France,FR,France,tw-712511614659010560,23,22,Tuesday,True,235,12,0,44,Neutral,English,RT @awscloud: Set the time zone for DB instanc...
78339,tw-1310354202,Unknown,3782,St. Louis,Missouri,US-MO,United States,tw-710440802497875968,6,17,Thursday,False,13982,0,0,62,Neutral,English,"""#Apple Cuts Reliance on #AWS; #iCloud Service..."
73684,tw-365436644,Male,3766,Boston,Massachusetts,US-MA,United States,tw-687827559191580672,19,14,Thursday,False,2434,0,0,52,Negative,English,Microsoft cuts #Azure virtual machine prices u...
60317,tw-66780587,Unknown,3751,Seattle,Washington,US-WA,United States,tw-713056579872882688,11,24,Thursday,False,547773,2,0,72,Positive,English,Remember registration for #AWSSummit Sydney is...
87421,tw-2385274356,Unknown,3852,Newton,Massachusetts,US-MA,United States,tw-697452972070948865,9,10,Wednesday,False,390,0,0,45,Neutral,English,The @ModernInfra Impact Award winners include ...

In [24]:
# Q-10. Identify tweets with a Klout score greater than 50. Display the TweetID and Klout.
kloutScore50 = tweets_df[tweets_df['Klout'] > 50][['TweetID', 'Klout']]
kloutScore50.sample(frac=1).head(10)

                     TweetID  Klout
43489  tw-697343990681759744     52
19260  tw-687434100915978240     51
55734  tw-694317099200589826     66
15415  tw-701392594249629696     55
52472  tw-706935260806844418     51
74135  tw-687050649045970944     78
59967  tw-700430114492850176     71
94111  tw-698227573415923712     53
89268  tw-695977018731716609     57
61556  tw-700059039204581377     51

In [25]:
# Q-11. Count the number of tweets posted from the United States (Country = 'United States').
print(f"The no. of tweets from the United States = {len(tweets_df[tweets_df['Country'] == 'United States'])}.")

The no. of tweets from the United States = 51457.

In [26]:
# Q-12. List tweets with the highest number of retweets. Display the TweetID and RetweetCount.
retweet_count = tweets_df.nlargest(1, 'RetweetCount')[['TweetID', 'RetweetCount']]
retweet_count

                     TweetID  RetweetCount
98345  tw-700865627364392960         26127

In [27]:
# Q-13. Find tweets with sentiment 'Negative' and Klout score less than 40.
negative_tweets_df = tweets_df[(tweets_df['Sentiment'] == 'Negative') & (tweets_df['Klout'] < 40)]
negative_tweets_df.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text
101012,tw-417212286,Male,5557,Martin,Tennessee,US-TN,United States,tw-685294180101414913,19,7,Thursday,True,543,48,0,39,Negative,English,RT @CorySmithNBC5: #BREAKING: Alleged terror s...
28892,tw-558631214,Unknown,1831,Nairobi,Nairobi Area,KE,Kenya,tw-692077699016347648,13,26,Tuesday,True,9,53,0,12,Negative,English,RT @awscloud: Want to increase your company's ...
44961,tw-181042298,Unknown,3019,London,Greater London,GB-GLA,United Kingdom,tw-692268640075382784,1,27,Wednesday,True,100,27,0,38,Negative,English,RT @ForbesTech: Oracle is mounting an aggressi...
29358,tw-1522739484,Male,1912,Tijuana,Baja California,MX,Mexico,tw-705598432363216896,20,3,Thursday,False,291,0,0,35,Negative,Spanish,IFT emite fallo de licitacin AWS
79979,tw-14586849,Unisex,3787,Rochester,New York,US-NY,United States,tw-705053788692942850,8,2,Wednesday,False,644,0,0,0,Negative,English,AWS needs a Shit is currently on fire and I wi...
79184,tw-79342899,Male,3786,Los Angeles,California,US-CA,United States,tw-698230000969981952,12,12,Friday,False,202,0,0,37,Negative,English,@BGR You forgot to mention chaos monkey and th...
31933,tw-2953058176,Unknown,2254,Lahore,Punjab,PK,Pakistan,tw-708933298840576000,1,13,Sunday,False,183,0,0,22,Negative,English,@shreyaghoshal happii belatd http://b.day to 1...
52077,tw-815520878,Unknown,3738,New York City,New York,US-NY,United States,tw-715291002626400256,15,30,Wednesday,False,319,0,0,30,Negative,English,[status] Monitoring: AWS has resolved their AP...
33502,tw-4762625734,Male,2520,Doha,Ad Dawhah,QA,Qatar,tw-690506793982758912,5,22,Friday,True,67,24,0,25,Negative,English,RT @imoyse: Microsoft slashes Azure prices up ...
68844,tw-179848108,Unknown,3753,San Francisco,California,US-CA,United States,tw-710531412382748672,12,17,Thursday,False,6125,0,0,38,Negative,English,Report: Apple leans on Google for iCloud iTune...

In [28]:
# Q-14. Calculate the average Likes for tweets posted on weekends (Saturday and Sunday).
print(f"The average likes for tweets posted on weekends = {round(tweets_df[tweets_df['Weekday'].isin(['Saturday', 'Sunday'])]['Likes'].mean(), 3)}.")

The average likes for tweets posted on weekends = 0.114.

In [29]:
# Q-15. Retrieve tweets posted in the city of 'New York.'
new_york_tweets = tweets_df[tweets_df['City'].str.contains('New York')]
new_york_tweets.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text
51612,tw-2963365588,Unisex,3738,New York City,New York,US-NY,United States,tw-685193873950310400,13,7,Thursday,False,49,0,0,27,Neutral,English,NYC Based Global TV Network Needs Senior DevOp...
51152,tw-12329592,Male,3738,New York City,New York,US-NY,United States,tw-708008740386152448,12,10,Thursday,False,1309,1,0,60,Neutral,English,Amazon Launchpad is joining #AWS at Techstars ...
52036,tw-2321271966,Unknown,3738,New York City,New York,US-NY,United States,tw-713023122434170881,9,24,Thursday,False,707,0,0,50,Neutral,English,.@Airbnb Reinventing the #Hospitality Industr...
51665,tw-3839,Male,3738,New York City,New York,US-NY,United States,tw-693163690166730752,13,29,Friday,False,67007,0,0,78,Neutral,English,@dhh -- make a checklist of things you have to...
52807,tw-390469886,Male,3738,New York City,New York,US-NY,United States,tw-684899970365976577,17,6,Wednesday,True,226,1,0,30,Negative,English,RT @PatonCrispy: For anyone messing around wit...
52153,tw-3341975397,Female,3738,New York City,New York,US-NY,United States,tw-711047228354338817,22,18,Friday,False,105,0,0,41,Positive,English,Amazon and AWS at the core -- create a bunch o...
51562,tw-2593655556,Unknown,3738,New York City,New York,US-NY,United States,tw-695437328710504448,19,4,Thursday,False,304,0,0,49,Positive,English,Public #Cloud Market Share. Stats &amp; growth...
51064,tw-12329592,Male,3738,New York City,New York,US-NY,United States,tw-702661008574304259,18,24,Wednesday,False,1307,0,0,61,Neutral,English,Last call to register for AWS Technical Essent...
52221,tw-298042210,Unknown,3738,New York City,New York,US-NY,United States,tw-712226073375682560,4,22,Tuesday,False,6304,0,0,54,Positive,English,#popular #forbes Ten Years Later Amazon Web Se...
50629,tw-60754146,Unknown,3738,New York City,New York,US-NY,United States,tw-713479001029885952,15,25,Friday,False,8786,1,0,63,Neutral,Finnish,Preorder AWS's #Modernists!! Music of @thebeat...

In [30]:
# Q-16. Identify tweets where Reach is greater than 1000. Display the TweetID and Reach.
thousand_reach = tweets_df[tweets_df['Reach'] > 1000][['TweetID', 'Reach']]
thousand_reach.sample(frac=1).head(10)

                     TweetID  Reach
309    tw-691460696920494080   4902
25780  tw-684316219135148032   1962
86415  tw-692149716553986048   1492
82075  tw-714970411629416448   1145
13177  tw-697703293007560704   1899
4003   tw-710641880934039552   1227
6408   tw-715978013850996736   2613
75652  tw-706902094729445376   4181
52439  tw-701744203324215296  20427
2838   tw-707555573244551169   2914

In [31]:
# Q-17. Find the user (UserID) with the highest total engagement (sum of RetweetCount and Likes).
tweets_df['TotalEngagement'] = tweets_df['RetweetCount'] + tweets_df['Likes']
print(f"The UserID {tweets_df['UserID'].iloc[tweets_df['TotalEngagement'].idxmax()]} has the highest engagement ({tweets_df['TotalEngagement'].max()}).")

The UserID tw-552279964 has the highest engagement (26127).

In [32]:
# Q-18. List tweets with sentiment 'Neutral' and Lang as 'English.'
engNeutralTweets = tweets_df[(tweets_df['Sentiment'] == 'Neutral') & (tweets_df['Lang'] == 'English')]
engNeutralTweets.sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text,TotalEngagement
27159,tw-130580971,Male,1666,Perugia,Umbria,IT,Italy,tw-710104391760613377,8,16,Wednesday,True,670,4,0,46,Neutral,English,RT @simon: The Cloud wars of 2016: https://med...,4
67156,tw-3191910353,Male,3753,San Francisco,California,US-CA,United States,tw-697615724953534464,19,10,Wednesday,True,248,12,0,42,Neutral,English,RT @awscloud: New on the @AWSforMobile blog Tr...,12
33421,tw-32572068,Male,2480,Porto,Porto,PT,Portugal,tw-704406902441123840,13,29,Monday,True,1849,2,0,46,Neutral,English,RT @danilop: Use mlpoccia for 50% off today on...,2
16569,tw-114392061,Male,1114,Dortmund,North Rhine-Westphalia,DE,Germany,tw-710340300338810884,23,16,Wednesday,False,106,0,0,28,Neutral,English,Running an Elastic LAMP Stack on AWS - https:...,0
45552,tw-143086608,Unknown,3025,Edinburgh,City of Edinburgh,GB-U8,United Kingdom,tw-708728386387054592,11,12,Saturday,False,80,0,0,34,Neutral,English,@CenLD @tracytcb Scots just passed this after ...,0
1006,tw-91933935,Female,80,Sydney,New South Wales,AU-02,Australia,tw-710176807014809600,12,16,Wednesday,False,23,0,0,14,Neutral,English,AWS - What's New! Puppet on the AWS Cloud: Qui...,0
87409,tw-2385274356,Unknown,3852,Newton,Massachusetts,US-MA,United States,tw-695702688797892609,13,5,Friday,False,389,0,0,45,Neutral,English,Put an end to your #AWS network issues. http:/...,0
78944,tw-15699147,Unknown,3786,Los Angeles,California,US-CA,United States,tw-694337137135656960,18,1,Monday,False,17927,0,0,58,Neutral,English,Ace the Amazon Web Services Certification exam...,0
14357,tw-1140955166,Male,1069,Berlin,Berlin,DE,Germany,tw-697473168718565376,10,10,Wednesday,True,38,17,0,28,Neutral,English,RT @jedsundwall: AWS Lambda + range GETs from ...,17
92261,tw-115557940,Unknown,3914,Cincinnati,Ohio,US-OH,United States,tw-697221025700958208,17,9,Tuesday,True,5069,258,0,0,Neutral,English,RT @hmltn: .@JeffBezos is 10x cooler today. Fr...,258

In [33]:
# Q-19. Calculate the total engagement (sum of RetweetCount and Likes) for each tweet.
tweets_df['TotalEngagement'] = tweets_df['RetweetCount'] + tweets_df['Likes']
tweets_df[['TweetID', 'Text', 'TotalEngagement']].sample(frac=1).head(10)

,TweetID,Text,TotalEngagement
36725,tw-700825227769450497,Become a certified AWS engineer with 87% off t...,0
49838,tw-707907956566843392,@samj Don't forget that you can search also fo...,0
64188,tw-695277446392754176,RT @PDBeurope: This ribosome structure @elife ...,6
94635,tw-712538845485596672,RT @eSynergyITrec: Your morning read: 'Apple s...,1
93963,tw-685090972225638401,Amazon Web Services Launches Korean Datacenter...,0
86819,tw-707042127549607936,RT @Trek10inc: @jeffbarr Lambda Fanout post by...,1
38966,tw-700851156399104000,Zombiler uyandnda Amazon Web Services hazr ola...,0
38252,tw-716238453621436417,Deep Dive from Container to Serverless in AWS ...,0
23461,tw-710728654305804288,@Telstra 's problems in Australia continue wit...,0
42017,tw-710423253794349056,Amazon's cloud boss tells something that shoul...,0

In [34]:
# Q-20. Retrieve tweets with sentiment 'Positive' or 'Neutral' and Lang as 'English' or 'Spanish.'
requiredSentiments = ['Positive', 'Neutral']
requiredLanguages = ['English', 'Spanish']
tweets_df[(tweets_df['Sentiment'].isin(requiredSentiments)) & (tweets_df['Lang'].isin(requiredLanguages))].sample(frac=1).head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshared,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,Text,TotalEngagement
95374,tw-19099205,Unknown,4030,York,Pennsylvania,US-PA,United States,tw-690578236485562368,9,22,Friday,False,646,0,0,44,Neutral,English,This Quick Start is first in a set of AWS Ente...,0
14338,tw-44343,Male,1069,Berlin,Berlin,DE,Germany,tw-688015380116291586,8,15,Friday,True,592,2,0,46,Positive,English,RT @michaxndr: Oh wow @awscloud offers now als...,2
19935,tw-175766255,Male,1333,Chennai,Tamil Nadu,IN,India,tw-711102301570621440,2,19,Saturday,True,1346,45,0,42,Neutral,English,RT @awscloud: New on the #BigData Blog: Analyz...,45
46155,tw-15062274,Female,3031,Cardiff,City and County of Cardiff,GB-X5,United Kingdom,tw-689719982515687424,1,20,Wednesday,True,505,24,0,48,Neutral,English,RT @awscloud: Learn how to deploy &amp; scale ...,24
61617,tw-17118065,Unisex,3751,Seattle,Washington,US-WA,United States,tw-708512806010642432,21,11,Friday,True,7929,62,0,53,Neutral,English,RT @awscloud: .@Werner gives 10 lessons from 1...,62
11214,tw-122587156,Unknown,800,Paris,Ile-de-France,FR,France,tw-710015265078157313,2,16,Wednesday,True,2924,1,0,51,Positive,English,RT @michaeljtowle: Something BIG is coming to ...,1
58603,tw-3062838051,Male,3751,Seattle,Washington,US-WA,United States,tw-714477155393085440,9,28,Monday,False,61,0,0,40,Neutral,English,https://www.hackerrank.com/tests/gaa9i3qssf6/3...,0
26743,tw-14270140,Male,1650,Milano,Lombardy,IT,Italy,tw-707840592370335744,1,10,Thursday,False,1360,0,0,0,Neutral,English,@BettyJunod @cdaffara @saranormous problem is...,0
36880,tw-114682872,Male,2673,NA,NA,NA,Spain,tw-712303764703748096,9,22,Tuesday,False,834,0,0,46,Neutral,English,@DEJPett also aws offers @postgresql so you ca...,0
82350,tw-187666854,Male,3815,England,Arkansas,US-AR,United States,tw-702076036620615680,3,23,Tuesday,False,250,0,0,45,Positive,English,Nice writeup on introduction to #AWS #Elastica...,0

### <center>Thank you.</center>