In [1]:
import pandas as pd
tweets_df = pd.read_csv('tweets-engagement-metrics.csv')
tweets_df.head(10)

,Unnamed: 0,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open Â AWS Asia Pacific (Seoul) Region via ...
2,2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
5,5,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86.0,0.0,0.0,21.0,0.0,en,10 Lessons from 10 Years of Amazon Web Service...
6,6,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86.0,0.0,0.0,24.0,2.0,en,How powerful are the burstable aws t2 instance...
7,7,tw-126745533,Male,4.0,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175.0,3.0,0.0,33.0,0.0,en,RT @pzerger: Microsoft and Google Lead in Clou...
8,8,tw-126745533,Male,4.0,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175.0,7.0,0.0,33.0,0.0,en,RT @awscloud: How to deploy an SSL certificate...
9,9,tw-330939742,Male,6.0,NaN,NaN,NaN,Algeria,tw-697732825290772480,3,11,Thursday,False,192.0,2.0,0.0,42.0,-3.0,en,Too bad #Facebook: Host #Parse on #AWS #Heroku...

In [2]:
# Columns of the dataset
print(tweets_df.columns.to_list())

['Unnamed: 0', 'UserID', 'Gender', 'LocationID', 'City', 'State', 'StateCode', 'Country', 'TweetID', 'Hour', 'Day', 'Weekday', 'IsReshare', 'Reach', 'RetweetCount', 'Likes', 'Klout', 'Sentiment', 'Lang', 'text']

In [3]:
# Removing the unrequired columns
tweets_df.drop(tweets_df.columns.to_list()[0], axis=1, inplace=True)
tweets_df.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open Â AWS Asia Pacific (Seoul) Region via ...
2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
5,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86.0,0.0,0.0,21.0,0.0,en,10 Lessons from 10 Years of Amazon Web Service...
6,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86.0,0.0,0.0,24.0,2.0,en,How powerful are the burstable aws t2 instance...
7,tw-126745533,Male,4.0,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175.0,3.0,0.0,33.0,0.0,en,RT @pzerger: Microsoft and Google Lead in Clou...
8,tw-126745533,Male,4.0,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175.0,7.0,0.0,33.0,0.0,en,RT @awscloud: How to deploy an SSL certificate...
9,tw-330939742,Male,6.0,NaN,NaN,NaN,Algeria,tw-697732825290772480,3,11,Thursday,False,192.0,2.0,0.0,42.0,-3.0,en,Too bad #Facebook: Host #Parse on #AWS #Heroku...

In [4]:
# Checking the null values
tweets_df.isnull().sum()

UserID             0
Gender             0
LocationID         0
City            2279
State           1897
StateCode       1726
Country            0
TweetID            0
Hour               0
Day                0
Weekday            0
IsReshare          0
Reach              0
RetweetCount       0
Likes              0
Klout              0
Sentiment          0
Lang               0
text               0
dtype: int64

In [5]:
# Filling the null values in the dataframe
tweets_df.fillna('NA', axis = 1, inplace = True)
tweets_df.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open Â AWS Asia Pacific (Seoul) Region via ...
2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
5,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86.0,0.0,0.0,21.0,0.0,en,10 Lessons from 10 Years of Amazon Web Service...
6,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86.0,0.0,0.0,24.0,2.0,en,How powerful are the burstable aws t2 instance...
7,tw-126745533,Male,4.0,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175.0,3.0,0.0,33.0,0.0,en,RT @pzerger: Microsoft and Google Lead in Clou...
8,tw-126745533,Male,4.0,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175.0,7.0,0.0,33.0,0.0,en,RT @awscloud: How to deploy an SSL certificate...
9,tw-330939742,Male,6.0,NA,NA,NA,Algeria,tw-697732825290772480,3,11,Thursday,False,192.0,2.0,0.0,42.0,-3.0,en,Too bad #Facebook: Host #Parse on #AWS #Heroku...

In [6]:
# Checking the duplicated values in the dataframe
tweets_df.nunique()

UserID          33212
Gender              4
LocationID       4309
City             3802
State            1009
StateCode         358
Country           151
TweetID         99999
Hour               24
Day                31
Weekday             7
IsReshare           2
Reach           12473
RetweetCount      478
Likes              87
Klout              84
Sentiment         309
Lang               36
text            70267
dtype: int64

In [7]:
# Datatypes of the columns in the dataframe
tweets_df.dtypes

UserID          object
Gender          object
LocationID      object
City            object
State           object
StateCode       object
Country         object
TweetID         object
Hour            object
Day             object
Weekday         object
IsReshare       object
Reach           object
RetweetCount    object
Likes           object
Klout           object
Sentiment       object
Lang            object
text            object
dtype: object

In [8]:
# Changing the datatypes of the columns in the dataframe
tweets_df[['LocationID', 'Reach', 'RetweetCount', 'Likes', 'Klout']] = tweets_df[['LocationID', 'Reach', 'RetweetCount', 'Likes', 'Klout']].astype(int)
tweets_df.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,tw-1267804344,Unknown,1,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339,127,0,44,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87,0,0,22,0.0,en,Now Open Â AWS Asia Pacific (Seoul) Region via ...
2,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87,0,0,22,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87,0,0,22,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85,0,0,21,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
5,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86,0,0,21,0.0,en,10 Lessons from 10 Years of Amazon Web Service...
6,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86,0,0,24,2.0,en,How powerful are the burstable aws t2 instance...
7,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175,3,0,33,0.0,en,RT @pzerger: Microsoft and Google Lead in Clou...
8,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175,7,0,33,0.0,en,RT @awscloud: How to deploy an SSL certificate...
9,tw-330939742,Male,6,NA,NA,NA,Algeria,tw-697732825290772480,3,11,Thursday,False,192,2,0,42,-3.0,en,Too bad #Facebook: Host #Parse on #AWS #Heroku...

In [9]:
# Classifying the sentiment as per the values in the dataframe.
classifySentiment = lambda x: 'Neutral' if x == 0 else ('Positive' if x > 0 else 'Negative')
tweets_df['SentimentText'] = tweets_df['Sentiment'].apply(classifySentiment)
tweets_df.head(10)

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,SentimentText
0,tw-1267804344,Unknown,1,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339,127,0,44,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi...",Neutral
1,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87,0,0,22,0.0,en,Now Open Â AWS Asia Pacific (Seoul) Region via ...,Neutral
2,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87,0,0,22,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...,Neutral
3,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87,0,0,22,0.0,en,Bridging AWS and Azure environments via VPN vi...,Neutral
4,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85,0,0,21,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...,Neutral
5,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-708749871080153088,13,12,Saturday,False,86,0,0,21,0.0,en,10 Lessons from 10 Years of Amazon Web Service...,Neutral
6,tw-27229880,Male,2,Tirana,Tirane,AL,Albania,tw-714806305106604032,7,29,Tuesday,False,86,0,0,24,2.0,en,How powerful are the burstable aws t2 instance...,Positive
7,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052825378463744,12,6,Saturday,True,175,3,0,33,0.0,en,RT @pzerger: Microsoft and Google Lead in Clou...,Neutral
8,tw-126745533,Male,4,Algiers,Alger,DZ,Algeria,tw-696052905955213313,12,6,Saturday,True,175,7,0,33,0.0,en,RT @awscloud: How to deploy an SSL certificate...,Neutral
9,tw-330939742,Male,6,NA,NA,NA,Algeria,tw-697732825290772480,3,11,Thursday,False,192,2,0,42,-3.0,en,Too bad #Facebook: Host #Parse on #AWS #Heroku...,Negative

In [10]:
# Checking the unique languages
print(list(tweets_df['Lang'].unique()))

['en', 'es', '_u', 'pt', 'in', 'it', 'fr', 'ro', 'da', 'zh', 'ko', 'tl', 'de', 'ja', 'ru', 'nl', 'hu', 'cy', 'km', 'ar', 'cs', 'ht', 'fi', 'et', 'no', 'pl', 'eu', 'lv', 'sv', 'tr', 'hi', 'iw', 'lt', 'sl', 'uk', 'th']